[2017-04-25 11:44] holfordm opened #1 "attributes lost on name[@type='person']"
`name type="person"` has lost other attributes on conversion to `persName` - e.g. `@role, @ref, @key`. For examples see Bodl_0035, at` handNote`, or Buchanan_PJK_0036, at `decoNote`

[2017-04-25 11:47] holfordm opened #2 "attributes lost on name[type='corporate']"
`name type="corporate"` has lost other attributes (e.g.` @ref, @key, @role`) on conversion to orgName. Example: Bodley_0065 at `<origPlace>`.

[2017-04-25 12:18] jamescummings commented on #1
Ooops that should only be happening when there is a single persName inside the name element.

@holfordm: Is it the case that these attributes are always on the surrounding name rather than the persName? Or is there a chance they might be on both? i.e. is it ok if I just get rid of any attributes that might be on the existing persName when I turn the name into a persName? Or do I need to figure out

[2017-04-25 12:19] jamescummings commented on #2
Yeah, same problem as the persName issue, with the same question. I'll treat them alike.

[2017-04-25 12:28] jamescummings commented on #1
@holfordm It turns out there are only two originals where there is more than one element in a name with type='person'.  These are:
- Buchanan/Buchanan0002TEI_c1.xml
- Canon_Class_Lat/Canon_Class_Lat_0109.xml

And I find no attributes on persNames that are inside names.

Hence, I'm going to *not* change those two above to persName (leave them as name with type=person) and assume I can move any name

[2017-04-25 14:18] holfordm commented on #1
both cases are markup errors which I have now corrected, so it will be OK to convert these as well when I have committed and pushed.

________________________________
From: James Cummings <notifications@github.com>
Sent: 25 April 2017 12:28
To: bodleian/tei-tolkien
Cc: holfordm; Mention
Subject: Re: [bodleian/tei-tolkien] attributes lost on name[@type='person'] (#1)

@holfordm<https://github.com/h

[2017-04-25 14:27] jamescummings commented on #1
Just to note there is another side effect that will happen.  There are cases where there is text separate from the persName elements such as:

[code]
Which I'm proposing just becomes:
[code]

I could, of course, leave persName embedded inside persName if you thought that better.

[2017-04-25 14:33] jamescummings commented on #2
Ok, this is done in my script.  I notice a related issue where there are lots of `<persName>` inside `<name type="corporate">`.  I've not found one yet that I would call a person.  Am I right that these should just disappear?
i.e.

[code]
become
[code]

[2017-04-25 15:02] holfordm commented on #2
yes, that is right.

<persName> inside <name[type=person] and type=corporate]> and inside <author> is a hangover from Fihrist / cambridge practice.

________________________________
From: James Cummings <notifications@github.com>
Sent: 25 April 2017 14:33
To: bodleian/tei-tolkien
Cc: holfordm; Author
Subject: Re: [bodleian/tei-tolkien] attributes lost on name[type='corporate'] (#2)

Ok, this is do

[2017-04-25 15:04] holfordm commented on #1
that should be OK

________________________________
From: James Cummings <notifications@github.com>
Sent: 25 April 2017 14:27
To: bodleian/tei-tolkien
Cc: holfordm; Mention
Subject: Re: [bodleian/tei-tolkien] attributes lost on name[@type='person'] (#1)

Just to note there is another side effect that will happen. There are cases where there is text separate from the persName elements such as:

<na

[2017-04-25 16:01] jamescummings commented on #2
Should I be getting rid of persName inside author? Most of the time there is only a persName (if there is one) in 7 cases it is also got another element there (often title.... which seems weird to me) i.e.

[code]
Should I try to move title outside of author? i.e.

[code]

[2017-04-25 16:47] holfordm commented on #2
those 7 cases look like errors - can you send me a list, I'll fix them.

after that, yes, persName inside author can go.

________________________________
From: James Cummings <notifications@github.com>
Sent: 25 April 2017 16:01
To: bodleian/tei-tolkien
Cc: holfordm; Author
Subject: Re: [bodleian/tei-tolkien] attributes lost on name[type='corporate'] (#2)

Should I be getting rid of persName insid

[2017-04-25 16:57] jamescummings commented on #2
Easy enough to add to the conversion a rule for author elements that have a title that moves it outside, and a rule for title elements inside author elements that makes them (otherwise) vanish.  So no worries... just wanted to check it was the right thing to do.

[2017-04-25 17:06] holfordm commented on #2
Might be worth me double checking in case there are other elements in there as well? e.g. note?

[2017-04-26 10:08] jamescummings commented on #2
Notes inside author don't really bother me.... but titles inside author are just nonsensical in my opinion. So I'm running the conversion again with that updated and hopefully the persName and orgName things straightened out.

[2017-04-26 10:10] holfordm commented on #2
I agree. It's just an error where the author tag has got wrapped around more than it should have.

________________________________
From: James Cummings <notifications@github.com>
Sent: 26 April 2017 10:08
To: bodleian/tei-tolkien
Cc: holfordm; Author
Subject: Re: [bodleian/tei-tolkien] attributes lost on name[type='corporate'] (#2)

Notes inside author don't really bother me.... but titles inside

[2017-04-27 09:19] holfordm opened #3 "bibl type="SC", "QUARTO""
in `<source>`, `bibl @type="SC"` or `@type="QUARTO"` have both changed to `bibl @type="related"`

[2017-04-27 09:45] jamescummings commented on #3
Now that is weird.  Can you give me an example or two to check?

The XSLT at that point is

[code]
Where I am indeed creating some as 'related' but only things that were similar to it (and often in such low numbers), or normalising extracts to extract or similar.  SC and QUARTO should all be hitting the `<xsl:otherwise>` which just puts out what it currently is.

Other normalisations:
- `decoNote/

[2017-04-27 09:50] jamescummings commented on #3
XSLT updated so that in next iteration `name/@type='church' and 'artist'` are converted to orgName and persName respectively.

[2017-04-27 10:09] holfordm commented on #3
e.g Rawl_A_0005

By the way, please don't change "commentedOn" to "commentary".

bibl type="commentedOn" encloses a reference to a text commented on by the text in the manuscript

bibl type="commentary" means that there is a commentary in the manuscript that it was difficult to encode in msItem (e.g. "Psalms with commentary of Gilbert de la Porree).

I think the bug is in the second when of the XS

[2017-04-27 10:16] jamescummings commented on #3
Ah! Well-spotted! That may well be it.

I've commented out commentedOn. For reference numbers for type on bibl before conversion are:
type (18847) ="LYELL (496) | MS (213) | QUARTO (6388) | SC (8911) | abridgement (1) | bible (167) | commentedOn (640) | digitised-version (14) | edition (10) | extract (3) | extracts (3) | intervening (1) | ms (5) | realted-volumes (2) | referred (2) | related (28)

[2017-04-27 10:36] holfordm commented on #3
I thought I had standardised more of these. Oh well.
abridgement, extract, extracts, intervening, translated, translation -> related

repertory, ms, we should keep as they are.

I don't use related-items, related-volumes, text-relations, so don't want to comment on those...

I will open a separate ticket about the other normalisations.

[2017-04-27 10:37] jamescummings commented on #3
Do remember this is across all the catalogues, so you aren't to blame for some of them.  On new ticket I'll put the numbers for each type attribute value.

[2017-04-27 11:07] holfordm opened #4 "decoNote @type"
decoNote/@type:
diagrams to 'diagram' -- OK

borderInitials,  initial_border -- these are for when I have one decoNote with a short note on all the ms decoration, e.g. "Border, initials", and I want to record both types. Separating the types with underscore seems like the best approach?

frieze: no comment, don't think I use.
paratext, printmark, secondary, unspecified or uwan - don't think I use.

[2017-04-27 11:28] jamescummings commented on #4
The numbers at the time of writing the report were:
[code]
So paratext/printmark/secondary are a total of 4 notes in all oxford collections... I thought standardisation might be better. I've changed it so unwan goes through.

re: underscore; so we have border, bordersInitials, initial, initial_border and initials.  I would have said when the decoNote is a general note, not on a specific aspect of

[2017-04-27 16:09] holfordm commented on #4
Let's use initial_border for combined forms with the principal being that if there is more tha one type of decoration, the different types are separated by underscore. I haven't classified decoration in detail yet, and probably won't have the time, but I would like to set things up so that the material we have can at some future point be classified along these lines.

_____________________________

[2017-05-03 09:04] holfordm opened #5 "tidy up publicationStmt"
sort out duplicate appearance of Bodleian Library / Libaries in `<authority>` and `<publisher>`

[2017-05-03 11:23] jamescummings commented on #5
What should be the perfect publicationStmt?  i.e. we should probably include full address and contact email for manuscripts (generally) in the Bodleian.  Suggestions as to what that should be appreciated.

[2017-05-03 13:27] holfordm commented on #5
good question. I suggest something like:

[code]
but your opinion as ever is welcome and there may be better places for the different elements to go. Is publisher Ok or do you prefer authority? Should we include a date?
I have talked with Martin about licences and he is investigating what the library will permit.

[2017-05-03 14:29] jamescummings commented on #5
How about something like this:
[code]
Major changes are to use specific elements rather than addrLine, include the email as distributor (though I suppose this could be authority), include an availability and some idnos that are easy to add.

[2017-05-03 14:44] jamescummings opened #6 "Split altIdentifier/idno on comma"
Hey @holfordm,

I remember you wanting me to split altIdentifer/idno on commas e.g. where it has something like
"18914, 18915, 18916, 18917, 18918" e.g. in Canon_Bibl_Lat/Canon_Bibl_Lat_0022.xml
which is fair enough.  But any suggestions on how I tell the difference between instances like that and those like:
"Not in SC (late accession): description unpublished, only available in Library"
"MS. Lat

[2017-05-03 16:37] jamescummings opened #7 "Move respStmt from editionStmt and tidy up ENRICH mentions"
Hi @holfordm,

Unless you object I'm going to move the respStmt with your name attached that says "Conversion to TEI based on earlier work for the ENRICH project..." and instead break these into separate respStmts in titleStmt which is more usual.  This will also enable me to update the ENRICH information which is out of date.  I propose:

[code]
If you want to let me know either other people who

[2017-05-03 16:42] holfordm commented on #5
We can't include a licence yet, I don't yet know what type we can use.
It seems odd to have `distributor/email` separate from `publisher`.
idno type="shelfmark" instead of "msID"?
idno type="URI" instead of "website" (giving the whole URI)?

[2017-05-03 16:47] holfordm commented on #6
We can address this by idno/@type.
type="SCN" -- it should always be possible to split these by comma. There will be some left over with hyphens to tidy up manually.
type="TM" -- it should always be possible to split these by comma.
type="PR" -- these are too complicated to split and are less significant anyway since (unlike TM) they don't map to URIs.
any other type: ignore.

[2017-05-03 16:50] holfordm commented on #7
I think this is a good idea, but I also would like to wait a bit before doing it to finalize with Martin the exact details of attribute (e.g. including the attributions to Elizabeth Solopova, whether the earlier funding by the Getty foundation should be mentioned, etc. etc.) - so can we hold fire on this for the moment?

[2017-05-03 17:32] jamescummings commented on #7
Sure, I mean I've put it in the conversion as it stands but can take it out (if it is a problem) or update it at any point.  We could also use 'funder' to record details of who funds it but that is of course a bit strange for something like manuscript descriptions that might hang around for years and be worked on by various funded projects funded by different bodies.

[2017-05-03 17:33] jamescummings commented on #6
Ah ok. That is even easier than what I implemented. Will change it to that.

[2017-05-05 12:49] jamescummings commented on #7
Another related issue: Should the editionStmt/respStmt be the same for all the Western MSS? Or are some different one way or another. Easy way to tell?  A simplified edition element might have something like "TEI P5" and a date.  Unless, of course, you wanted to introduce catalogue version numbers or something.

[2017-05-05 13:57] holfordm commented on #7
I think the editionStmt can be consistent across all collections and should be TEI P5 + version number (good idea) + date

The respStmt varies from collection to collection depending on who created the original description.

________________________________
From: James Cummings <notifications@github.com>
Sent: 05 May 2017 12:49
To: bodleian/tei-tolkien
Cc: holfordm; Mention
Subject: Re: [bodleian/

[2017-05-08 23:01] jamescummings opened #8 "xml:id is broken in some msDesc//msItems"
The way I'm doing the msItem xml:id attributes is broken for some of them.
This is just an issue to remind me to fix it.

[2017-05-10 15:26] ahankinson opened #9 "Propose changing the repo title"
Since this is the repository for Western manuscripts, I think we should probably change it to `tei-western` or `tei-western-mss`. @holfordm, @jamescummings thoughts?

[2017-05-10 15:28] jamescummings commented on #9
Why not bodley-western or since under bodleian organisation just western-mss or something?  At the moment it looks like only the TEI file should be going in there. ;-)

[2017-05-11 08:59] holfordm commented on #9
The alternative to a name based on western is something based on medieval - I don't have strong feelings about it, but medieval would be more consistent with our intended URL

________________________________
From: James Cummings <notifications@github.com>
Sent: 10 May 2017 15:28
To: bodleian/tei-tolkien
Cc: holfordm; Mention
Subject: Re: [bodleian/tei-tolkien] Propose changing the repo title (#9)

[2017-05-11 09:08] jamescummings commented on #9
medieval-mss perhaps?

[2017-05-11 10:14] holfordm commented on #9
seems accurate and inoffensive!

[2017-05-11 11:56] ahankinson commented on #9
OK, I will change it. Note that you will have to change any git clones of the repo to point to the new URL.

[2017-05-11 16:18] ahankinson opened #10 "Christ Church records have "Title" in the title field"
This looks like a bug somewhere:

https://github.com/bodleian/medieval-mss/blob/master/collections/Christ_Church/100.xml#L8

It's the same in Matthew's repository, so assigning it to him to fix.

[2017-05-11 16:22] jamescummings commented on #10
That is probably a legacy problem -- the idno for those used to just be a number which @holfordm had corrected. Because of that the original conversion years ago probably didn't create a good title. Ah well.

[2017-05-11 16:22] jamescummings commented on #1
I believe this is done, so I'm closing it. re-open if it is still a problem.

[2017-05-11 16:22] #1 closed

[2017-05-11 16:23] jamescummings commented on #2
I believe this is done, so I'm closing it. re-open if it is still a problem.

[2017-05-11 16:23] #2 closed

[2017-05-11 16:23] jamescummings commented on #3
I believe this is done, so I'm closing it. re-open if it is still a problem.

[2017-05-11 16:23] #3 closed

[2017-05-11 16:23] jamescummings commented on #4
I believe this is done, so I'm closing it. re-open if it is still a problem.

[2017-05-11 16:23] #4 closed

[2017-05-11 16:24] jamescummings commented on #6
I believe this is done, so I'm closing it. re-open if it is still a problem.

[2017-05-11 16:24] #6 closed

[2017-05-12 12:20] holfordm commented on #10
I have fixed this in my repo, so the changes should be carried across when James does the next (final?) conversion

[2017-05-12 14:04] #9 closed

[2017-06-03 12:27] #10 closed

[2017-06-03 12:27] #8 closed

[2017-06-03 12:29] ahankinson opened #11 "Index Organizations"
The persons.xml file has organizations too. These should be indexed.

[2017-06-03 14:52] jamescummings commented on #5
Leaving this issue open to remind us that we need to get a consistent bodleian open licensing for the manuscript description.

[2017-06-03 14:54] jamescummings commented on #7
Closing since editionStmt has been normalised but responsibility structure and practice should be investigated across all catalogues so handled the same.

[2017-06-03 14:54] #7 closed

[2017-06-05 09:11] holfordm opened #12 "in recordhist//bibl @facs should generate live links"
lines 1133-7 of convert2HTML should include logic similar to lines 1096-1109, so that any `bibl` elements with `@facs` generate live links

[2017-06-05 09:48] ahankinson commented on #12
If you click on the numbers on the side of the source view in GitHub you can get a link to that line in your URL. Holding shift will let you select multiple lines.

https://github.com/bodleian/medieval-mss/blob/master/processing/convert2HTML.xsl#L1096-L1109

https://github.com/bodleian/medieval-mss/blob/master/processing/convert2HTML.xsl#L1133-L1137

[2017-06-06 09:10] holfordm opened #13 "formatting in class"
Formatting instructions are currently in `@class` (e.g. span class="super", span class="italic" etc. etc.) - can this formatting be carried through to the Blacklight display?

[2017-06-06 09:52] holfordm opened #14 "information in idno should be displayed"
if I am right the `<msIdentifier>` section of records with the manuscript shelfmark is currently being supplied by blacklight.
We don't want all the `<msidentifier>` information included in convert2HTML to be displayed.
However we DO want the Summary Catalogue no. and other identifiers to be displayed - all the following material in fact.
[code]

[2017-06-06 11:28] holfordm opened #16 "e Musaeo collection should be in correct alphabetical place"
Capitalize "e Musaeo" collection name in the xml data so it sorts correctly on the home page and in collection lists (MLH)
Make any necessary changes in Blacklight (GI)

[2017-06-06 11:30] holfordm opened #17 "Zotero bibliography in MSS only"
references and links to the Zotero bibliography do not need to appear on Person or Place pages, just on Manuscript pages.

[2017-06-06 12:37] IgnatG commented on #17
Could you take a screenshot of this on the current website, please? - you can drag an image here to upload it.

I'm asking this because we thought this is already fixed .

[2017-06-06 15:30] holfordm opened #18 "MSS. Arch. Selden."
should have a period after the Selden - and perhaps merge A and B into a single collection

[2017-06-06 16:02] holfordm commented on #18
@IgnatG I have merged Selden_A and Selden_B into a new collection, Arch_Selden - the xml should be up to date, is there you need to do in blacklight to update the collections lists?

[2017-06-06 16:21] holfordm opened #19 "MSS. Latin on home page"
The collections MSS. Lat. misc. and MSS. Laud. Lat. both appear just as "MSS. Latin" on the home page.

[2017-06-06 17:48] IgnatG commented on #19
That's well spotted!
Normally the collections have some parenthesis as well but I removed them because they would occupy too much space on the buttons.
-- Essentially I took what was inside the parenthesis out and put in on the webpage.
I will fix this though.

[2017-06-06 17:53] IgnatG commented on #18
I think it needs a pull now to be able to see it on the webpage. I can do it on my local machine but I don't have access to black01 server. That's @ahankinson playground. :)

[2017-06-06 21:14] ahankinson commented on #18
Yes; I can't do a site update because the wifi at the conference doesn't let me get on the Oxford VPN, so this will have to wait.

[2017-06-06 21:16] ahankinson commented on #17
I'm surprised as well, because I'm pretty sure I fixed it this weekend.

[2017-06-06 21:16] ahankinson commented on #16
Shouldn't need to make any changes; once it's in the TEI data, Solr will sort it correctly.

[2017-06-08 08:36] IgnatG commented on #19
This has been fixed now and it will be reflected on black01 server when Andrew is back.

[2017-06-09 09:55] holfordm commented on #17
Looks like I raised the issue without checking the most recent version of the site, sorry.

[2017-06-09 09:55] #17 closed

[2017-06-09 09:59] holfordm opened #20 "in collections, "Holkham Hall" should be "Holkham Greek""
ie., on the home page and the in collections filters. The full collection title "Holkham Hall Greek" is a bit ambiguous perhaps, I will check with Martin if it needs to be changed.

[2017-06-16 09:41] ahankinson commented on #12
It seems that `bibl@facs` contains a lot of links to GIF files. I'm not sure that this is very useful...

[2017-06-16 09:43] ahankinson commented on #12
I think this is fixed, but there is a separate issue with this which I will raise in a new ticket.

[2017-06-16 09:43] #12 closed

[2017-06-16 09:45] ahankinson opened #21 "bibl@facs should contain absolute URLs"
Currently bibl@facs elements contain just a relative URL (e.g., `aam0096.gif`) with no indication of where to find this image. This means that the actual URL must be added to the record in the processing stage. This should be stored in the record itself.

So `bibl@facs` should be expanded to contain the full URL so that these records are more portable.

[2017-06-16 09:48] ahankinson commented on #21
As a side note, these images should also be moved from tolkien-prd since that machine will be decommissioned after the new site goes live.

[2017-06-16 10:19] jamescummings opened #22 "Each msDesc display should contain link to the source XML here on github"
Each msDesc as displayed in HTML (maybe in its footer) should have a link to the source XML.

i.e. (random example):
http://black01-qa.bodleian.ox.ac.uk/catalog/manuscript_MS_Rawl_A_150

should link with a 'source' or something link to:

https://github.com/bodleian/medieval-mss/blob/master/collections/Rawl_A/MS_Rawl_A_150.xml

which should be an easy concatenation of:

`https://github.com/bodleian

[2017-06-16 10:33] holfordm commented on #21
@ahankinson  if you provide me with the full URL I can easily make this change. It would be slightly easier if all the gifs were in a single folder (rather than separate directories for each catalogue as currently), how would you feel about that?

[2017-06-16 11:53] ahankinson commented on #21
How many images are we talking about? If it's over a few hundred I would keep them in separate folders.

[2017-06-16 11:55] holfordm commented on #21
There are a lot; so separate folders it is.
How about something on these lines: medieval.bodleian.ox.ac.uk/images/aaq/aaq0324.gif
Will it be http or https?

[2017-06-16 12:12] ahankinson commented on #21
https.

I was thinking of checking them into this git repo so that we can automatically deploy them to a server if we need to, and so they don't get lost on a server. Would this be OK?

[2017-06-16 12:35] ahankinson opened #23 "Print Stylesheet"
Currently the default print styles look pretty awful. We should have a print stylesheet that lets people print off a well-formatted version of a record, as well as a page of search results.

[2017-06-16 12:37] ahankinson commented on #22
I was considering a process which would upload the catalogue GIF images to the server but keep them in this git repo (see #21). I could also add a section which would upload each of the TEI files to the server so that we can serve them out there, rather than point them to GitHub.

@holfordm which would you prefer?

[2017-06-16 12:41] holfordm commented on #23
If possible, ability to export search results (eg. to csv) would also be useful.

[2017-06-16 12:43] ahankinson opened #24 "Add unique identifiers to works"
Currently a work record (in `works.xml` does not contain a unique identifier (e.g., `work_1234`). For indexing works it is required that we're able to match that with a reference in each MSS with a unique identifier.

[2017-06-16 12:47] holfordm commented on #24
On it - I need to do another check for duplicates before I add the identifiers, then I will link them to the descriptions with `@key="work_xxxx"` on `msItem` - this should be early next week.

[2017-06-16 12:47] ahankinson opened #25 "Work titles do not match titles in MSS records."
For example, in works.xml

[code]

Refers to this record in `MS_Auct_F_1_8`:

[code]

Rather than putting the language in the title and lowercasing it, the work record should probably be:

[code]

[2017-06-16 12:48] ahankinson commented on #24
👍 We'll keep this open so you can let me know when this is done.

[2017-06-16 12:50] ahankinson commented on #23
Export to CSV will likely not happen, since this will require additional Blacklight development.

[2017-06-19 08:22] holfordm opened #26 "convert2HTML issues"
Grouped together as a single issue for now: we can separate them later if needed.

-  <bibl> should not always generate <div> as this can interrupt paragraphing (e.g. http://black01-qa.bodleian.ox.ac.uk/catalog/manuscript_MS_Buchanan_c_1, provenance, John Adrian Louis Hope paragraphy)

[2017-06-19 08:59] holfordm opened #27 "reserved characters in HTML / convert2HTML"
There is a problem with reserved characters at some point in the convert to HTML process, particularly with `<` and` >`. Maybe a problem with how SOLR is ingesting the HTML?

- For example, the supplied tag `<supplied>` in xml generates `&lt {content} &gt `in convert2HTML but this is given as `<{content}>` in the page source and so doesn't display correctly. At http://black01-qa.bodleian.ox.ac.uk/

[2017-06-19 11:18] holfordm opened #28 "sorting oddities in indexes"
Persons

- ..., dom. William (under 'dom'; better at beginning or end?)

- Łaski, Jan, 1456-1531 (sorts under aski)

- Ǧābir Ibn-Aflaḥ, 1100-1160 (under bir)

- Władysław, III Warneńczyk, King of Poland and Hungary, 1424-1444 [out of sequence after Wa]

- Sánchez de Arévalo, Rodrigo, 1404-1470 [in sequence under sn]

- .... [various entries starting this way; possible to group all at beginning?]

[2017-06-27 10:46] holfordm opened #29 "variant forms in persons.xml should be indexed"
e.g a search for "bethem" should bring up the record for "albategni" (person_97655156) [currently the search returns no results]

[2017-06-27 10:48] holfordm opened #30 "persons, places and works browse lists should have alphabetical filters"
There may be some difficulties with this caused by non a-z character; cf. issue 28 https://github.com/bodleian/medieval-mss/issues/28 for some examples

[2017-06-27 10:52] holfordm opened #31 "manuscript `origPlace` should be indexed by `@key` not by string value"
@holfordm to supply list of mappings between country value and key value

[2017-06-27 10:53] holfordm opened #32 "information on manuscripts in browse manuscript pages can be removed"
http://black01-qa.bodleian.ox.ac.uk/?f%5Btype%5D%5B%5D=manuscript information on collection and materials does not need to appear. Maybe we can put some more useful information there at a later stage.

[2017-06-27 10:55] holfordm opened #33 "place index should include organizations"
the authority file places.xml includes places and organizations, listPlace/place and listOrg/org. Both should be treated as place objects for the purpose of SOLR indexing and both will appear inthe place index. The orgs will have URLs in the form ..catalogue/org_xxxx.

[2017-06-27 11:16] holfordm opened #34 "person, work and place records should display links and additional info. where available"
in persons.xml the fields `note[not(@type)],` `bibl,` and` note[@type=links]` should display as part of the relevant person record, with live links.
e.g. for person_147 the record might read
Benedictus Bursa, fl. c. 1450
**Bibliography:** CALMA II.206
**Links:** Mirabile

[2017-06-27 11:17] holfordm opened #35 "place index does not need to display place types"

[2017-06-27 11:17] holfordm opened #36 "provide help and about pages"

[2017-06-27 11:21] holfordm opened #37 "prototype works indexing"
-authority forms in works.xml (use `title[@type=uniform]` as index form) match to `title/@key` in the descriptions-
-index language and subject fields in works.xml to enable filtering by those fields.

[2017-06-28 11:50] holfordm opened #38 "numerical identifier rather than shelfmark in manuscript URLs?"
URLs for manuscripts are currently in the form `catalogue/manuscript_MS_Add_A_1` and so on. Are we planning to switch to using the numerical identifier `catalogue/manuscript_xxxxxx` ?

[2017-06-30 09:39] #19 closed

[2017-06-30 09:40] IgnatG commented on #35
This has been fixed now. It should be reflected on black01 server when Andrew is back.

[2017-06-30 09:40] #35 closed

[2017-06-30 09:40] IgnatG commented on #32
This has been fixed now. It should be reflected on black01 server when Andrew is back.

[2017-06-30 09:40] #32 closed

[2017-06-30 10:02] holfordm opened #39 "pages should carry citation guidance?"
should each page have (e.g. in the footer) clear guidance on how to cite it? (and / or details of a stable URI for the page?)

[2017-06-30 10:05] IgnatG opened #40 "persons, places and works should have an additional parameter that would make them unique"
We have something similar for manuscripts: ms_lang_sm or any other field from there.
Not sure if there is a naming convention already in place, but I could work with something like:
pp_title
pl_title
wk_title

Any other convention would work as well.
I need this for  #30

[2017-06-30 12:15] IgnatG opened #41 "20 Items per page on browse"

[2017-07-03 13:30] IgnatG commented on #41
This has been fixed now. It should be reflected on black01 server when Andrew is back.

[2017-07-03 13:30] #41 closed

[2017-07-04 14:24] ahankinson opened #42 "Filename for Fragments"
The file `Fragments_printed_books/A_1_11_Art_Seld_pastedowns.xml` should be renamed to `MS_A_1_11_Art_Seld_pastedowns.xml`.

[2017-07-04 14:24] ahankinson commented on #42
Assigning Matthew & James since it's possible that this is not a simple renaming process.

[2017-07-04 16:43] holfordm commented on #42
This folder is for manuscript fragments in printed books (a small cataloguing programme that is in progress as part of the "fragmentarium" project). The shelfmark therefore really is "A 1 11 Art Seld, pastedown". "A 1 11 Art Seld" is the shelmark of a printed book and the ms fragment that the description is concerned with, is a pastedown in the binding. Does this make sense?

[2017-07-04 16:45] holfordm opened #43 "home page: two "Ashmole" collections"
There are two collections named "MSS. Ashmole" on the home page. One of these should be "MSS. Ashmole Rolls".

[2017-07-04 18:42] ahankinson commented on #42
Yes, it makes sense -- the filenames and the XML IDs need to be standardized, though.

[2017-07-04 20:43] holfordm commented on #42
Feel free to make any necessary changes now and perhaps we can discuss the standardization principles when I'm back in Oxford? I had been thinking that the "manuscript_xxx" xml:id was the imporant bit...

[2017-07-04 20:50] #18 closed

[2017-07-05 07:36] ahankinson commented on #42
My understanding was that James' normalization process was making the filenames and the xml:ids match.

[2017-07-05 12:47] holfordm commented on #42
James add two xml:ids to each descrption (a) on `msDesc,` this is the same as the normalized filename (b) on `TEI,` this is in the form "manuscript_xxx", and I think for consistency we should use (b) for the URLs and indexing, cf issue [28](https://github.com/bodleian/medieval-mss/issues/38)

[2017-07-07 10:20] #40 closed

[2017-07-07 12:44] #29 closed

[2017-07-10 08:57] ahankinson commented on #38
That would be ideal, but it should be done ASAP.

[2017-07-10 10:15] ahankinson commented on #34
Recall that for people we're not generating HTML, so including all of the information contained in these fields is difficult. I can, for example link something like this:

[code]

It is more challenging, however, to link something like this:

[code]

This is because we are not storing the pre-rendered HTML in Solr, but rather the link target and link text in the field, separated by the pipe:

[cod

[2017-07-10 10:49] ahankinson commented on #31
Reminder on this one...

[2017-07-10 11:21] holfordm commented on #34
Understood. In the second example, it's probably better to keep the full text and lose the link.

[2017-07-10 11:22] holfordm commented on #38
What is required at my end? The identifiers should all be in place: `xml:id="manuscript_xxxx" `on the root `<TEI>` element.

[2017-07-10 13:44] holfordm commented on #31
this should be a complete mapping of `country/@key` to the desired filter text

[country-code-map.txt](https://github.com/bodleian/medieval-mss/files/1135674/country-code-map.txt)

[2017-07-10 13:49] ahankinson commented on #28
I think this is now fixed on QA. Please check and re-open if it isn't.

[2017-07-10 13:52] ahankinson commented on #20
This looks like it's fixed.

[2017-07-10 13:52] #20 closed

[2017-07-10 14:02] ahankinson commented on #43
We're having to jump through some hoops to get these collections to display correctly on the front page. We have to inspect the value of the parenthetical statement and substitute that in for the "non-expert" friendly name. This is why it keeps breaking.

It would be far easier if we could just index the full name directly from the TEI. So, "MSS. Canon. Class. Lat. (Canonici Latin Classical)" woul

[2017-07-10 14:13] #38 closed

[2017-07-10 14:14] IgnatG commented on #43
Yeah. that's very true. if we can get them in full version, well... that would be great! - it is a workaround now...

[2017-07-10 14:23] holfordm commented on #43
Can we use the current style "MSS. Canon. Class. Lat. (Canonici Latin Classical)" for display on the home page? It would take up more room of course. But it would have the big advantage of keeping the "correct" form of the shelfmark (the abbreviated form is how the MSS are supposed to be cited and ordered).

[2017-07-10 14:26] holfordm commented on #33
Sorry to reopen this but the place index now ONLY includes organizations!

[2017-07-10 14:38] ahankinson commented on #33
That's not a problem with the indexing... I just didn't hit the right button.

[2017-07-10 14:38] #33 closed

[2017-07-10 14:39] IgnatG commented on #43
That would be the easiest approach. The problem would be the fact that they are too long - say "MSS. Holkham misc. (Holkham miscellaneous)" for instance. But I guess we can give that a try and see how it goes.

[2017-07-10 15:00] holfordm opened #44 "person and place pages using "classmark" urls for manuscripts"
ie. the links on person and place pages lead to `../manuscript_MS_Germ_g_1` rather than` ../manuscript_xxxxx`

I'm sure you are aware of this but flagging just in case

[2017-07-10 15:34] holfordm commented on #43
Let's try it out

[2017-07-10 15:35] ahankinson commented on #43
Done.

I think Gabriel's right -- it does look a bit messy to my eye. What do you think?

[2017-07-10 15:40] holfordm commented on #43
Yes, it is messy. But can we leave it as is for now? I'll discuss with Martin as to whether the short or long titles are better here. He is back from holiday mid-week.

[2017-07-10 16:40] holfordm opened #45 "places.xquery should index `placeName`"
the `<placeName>` element should be indexed; it may occur in any part of `<msDesc>`

e.g. http://black01-qa.bodleian.ox.ac.uk/catalog/place_7011894 should link to
../manuscript_6559

[2017-07-10 16:43] holfordm commented on #44
fixed for persons but not for places

[2017-07-10 18:34] ahankinson commented on #44
The commit fixed it for places, I just didn't get a chance to update it on the QA site.

[2017-07-10 18:34] #44 closed

[2017-07-11 09:53] holfordm opened #46 "person browse list should filter by role"
- each person record would be associated with a collection of their roles throughout the collection (author, scribe or scribe, owner for example)

- these roles would provide a filter

- most roles are` persName/@role` but role=author has to be inferred from `<author>`

[2017-07-11 09:57] holfordm commented on #28
the ... entries were grouped at the beginning of the sequence yesterday (which is good), but today they seem to be back in alphabetical sequence e.g. ..... dom. William under D

[2017-07-11 11:32] ahankinson commented on #28
Fixed now.

[2017-07-11 11:32] #28 closed

[2017-07-11 12:01] ahankinson commented on #46
I'm getting values like `formerOwner`. I'm assuming you don't want that displayed? What are the list of possible roles, and how would you like them to be expanded?

[2017-07-11 13:26] holfordm commented on #46
Mapping below.

Note also that `@role` may contain multiple roles separated by whitespace

[roles-map.txt](https://github.com/bodleian/medieval-mss/files/1138976/roles-map.txt)

[2017-07-11 13:32] ahankinson commented on #46
I'm going to guess that you want these roles capitalized?

[2017-07-11 13:34] holfordm commented on #46
I had thought not but since the facets on manuscripts are currently capitalized we should do the same here for consistency

[2017-07-11 14:37] holfordm opened #47 "remove alphabetical index on manuscripts?"

[2017-07-11 14:38] holfordm opened #48 "remove person filter on person browse"

[2017-07-11 15:41] ahankinson opened #49 "origPlace/country requires @key"
There are 123 instances where 'country' elements do not have a corresponding `@key` entry.

System ID: /Users/ahankins/Documents/code/bodl/TEI-consolidation/medieval-mss/collections/Add_B/MS_Add_B_15.xml
Description: Netherlandish
XPath location: /TEI[1]/teiHeader[1]/fileDesc[1]/sourceDesc[1]/msDesc[1]/history[1]/origin[1]/origPlace[1]/country[1]
Start location: 78:25
End location: 78:57

System I

[2017-07-11 15:42] ahankinson commented on #48
Done.

[2017-07-11 15:42] ahankinson commented on #47
Done.

[2017-07-11 15:42] #47 closed

[2017-07-11 15:46] #45 closed

[2017-07-11 15:46] #46 closed

[2017-07-11 15:49] holfordm commented on #49
Thanks for pointing this out. Fixed it in MSS. Bodl. Will try and sort the rest out this evening or tomorrow.

[2017-07-11 15:49] ahankinson commented on #43
Closing for now.

[2017-07-11 15:49] #43 closed

[2017-07-11 15:51] ahankinson commented on #31
Fixed now.

[2017-07-11 15:51] #31 closed

[2017-07-11 16:09] holfordm commented on #49
should all be fixed. We should probably add schematron rules for things like this....

[2017-07-11 16:10] holfordm commented on #42
since we have switched to using numeric IDs, can this be closed?

[2017-07-11 16:12] holfordm opened #50 "`@role` should be tokenized during indexing"
currently it looks like this is not happening since the roles filter includes things like "translator scribe" - multiple roles may be separated by whitespace

[2017-07-11 16:14] holfordm opened #51 "author role should be supplied for authors"
i.e. a person who occurs in `<author>` tags should be given the role "author" even though this is not spelled out with `@role` in the TEI

[2017-07-12 10:48] #16 closed

[2017-07-12 10:49] #11 closed

[2017-07-12 10:49] holfordm opened #52 "organizations missing from place index"

[2017-07-12 10:51] holfordm commented on #48
Just want to double check this as it still seems to be there on the QA site

[2017-07-12 11:01] holfordm opened #53 "links to catalogue images not working"
relates to issue [21](https://github.com/bodleian/medieval-mss/issues/21)

[2017-07-12 11:12] holfordm opened #54 "manuscripts.xquery should include case for no linguistic content"
https://github.com/bodleian/medieval-mss/blob/master/processing/manuscripts.xquery#L215

add:
case "zxx" return "No linguistic content"

[2017-07-12 12:34] ahankinson commented on #48
It's been fixed, but the site is not updated.

[2017-07-12 12:34] #48 closed

[2017-07-12 12:37] #54 closed

[2017-07-12 16:13] #50 closed

[2017-07-13 08:56] holfordm opened #55 "hint text in main search box should be context-specific?"
on the home page http://black01-qa.bodleian.ox.ac.uk/ it might say "Search everything (manuscripts, works, people, places)"
at persons http://black01-qa.bodleian.ox.ac.uk/?f%5Btype%5D%5B%5D=person it might say "Search persons"
and so on.
I think this would be a useful clue to users that the search box does in fact search different things depending on where you are in the catalogue.

[2017-07-13 09:00] ahankinson commented on #55
This probably won't be addressed in this release.

[2017-07-13 09:17] ahankinson commented on #52
I am currently working on the indexing systems, so what you see reflected in the QA site is not the "truth," insofar as organizations *will* be indexed in places, but may not be at any given moment in development as I clear and re-do the indexing to work through issues.

If you look in the 'processing' folder you will see that there is an xquery file for organizations, and that this file does inde

[2017-07-13 09:17] #52 closed

[2017-07-13 10:56] #49 closed

[2017-07-13 17:31] holfordm opened #56 "add licence"
agree with Bodl. on licence and add to TEI header

[2017-07-14 06:39] holfordm commented on #24
A large proportion of works (currently those without authors) now have unique identifiers [`@key` on `msItem/title`] which link to the `xml:ids` in works.xml.
I will add the other links (works with authors) early next week.

[2017-07-15 19:47] holfordm opened #57 "ODD should be included in repo?"

[2017-07-17 08:07] holfordm opened #58 "problem with searching persons?"
in 'persons', a search for 'salisbury'
http://black01-qa.bodleian.ox.ac.uk/?utf8=%E2%9C%93&f%5Btype%5D%5B%5D=person&q=salisbury
does not return 'john of salisbury' [i.e. http://black01-qa.bodleian.ox.ac.uk/catalog/person_67145970022632250570 , whose display title is "John, of Salisbury, Bishop of Chartres, -1180"]. Similarly no results for "bishop of chartres".

[2017-07-17 09:48] holfordm commented on #24
This should all be in place now. Cf. issue [37](https://github.com/bodleian/medieval-mss/issues/37)

[2017-07-17 09:50] jamescummings commented on #57
No, it explicitly shouldn't, otherwise people will start re-introducing per-repository changes. The whole point of the project is to have one ODD to rule them all. The ODD and its repo are available on github and so can be forked, modified, etc. and taken over, but it should certainly be a separate repository not related to any one catalogue.

[2017-07-17 09:51] jamescummings commented on #42
It was making the filenames and IDs match, but if needing it changed now then it should be done manually.

[2017-07-17 10:06] holfordm commented on #57
Sorry I didn't mean in this repo (I accept this this was unclear!!) but in the Bodleian repo https://github.com/bodleian

[2017-07-17 10:08] jamescummings commented on #57
Ah, then definitely.  I mean they might want to wait until I'm gone, just in case I make changes to the schema in ingesting the other catalogues (working on Fihrist now).... but they are free to fork https://github.com/jamescummings/Bodleian-msDesc-ODD/  I should remove the tolkein2HTML script from there since it is out of date.

[2017-07-17 10:33] ahankinson commented on #58
Major improvements to fulltext searching went live on QA today, and this now works.

[2017-07-17 10:33] #58 closed

[2017-07-17 11:21] ahankinson commented on #39
I'm not sure what sort of guidance you want me to put in there? The URL of the thing is the 'stable' URL, but do you want other text around it?

[2017-07-17 11:24] ahankinson opened #59 "Formatting for works files"
with no objections, I'm going to apply some styling and formatting to the works files so that they're a bit more readable. This will likely mean that any pending changes will 'conflict', so please commit any pending changes

[2017-07-17 11:48] holfordm commented on #59
Thanks for letting me know. I've committed and synced so go ahead.

[2017-07-17 12:57] ahankinson opened #60 "Subjects start with #"
Is this desired?

[2017-07-17 13:32] holfordm commented on #60
No, it is a relict from how the subjects were described in `msDesc`; feel free to delete the `#`

[2017-07-17 13:44] holfordm opened #61 "navigation back and forward in search results"
At one stage on every result page (MS, person, work, place) we had left and right arrows which - if I remember correctly - let you navigate back and forward among search results (e.g. from MS. Add. A. 6 to MS. Add. A. 5 or 7 or from Abingdon (place) to Aachen or Acle) - can these be reinstated?

[2017-07-17 13:52] ahankinson commented on #60
They should probably be removed from works.xml... would it be OK if I did that?

[2017-07-17 14:11] holfordm commented on #26
would it be helpful if I came to Osney at some point this week (tomorrow am or Weds am or Thurs am) to try and get the display as good as we can for now? I'll be on leave 24-28 July.

[2017-07-17 14:44] #37 closed

[2017-07-17 14:44] #51 closed

[2017-07-17 15:15] #59 closed

[2017-07-17 15:34] ahankinson commented on #26
I'm around tomorrow morning after 10 if you wanted to come by.

[2017-07-17 16:05] ahankinson commented on #26
Re: divs and spans with locus. It seems that there is inconsistency with how this is applied in the TEI. For example, in ChCh 87, having an inline (span) locus would be strange, as it's used for the "title" of every nested section.

http://black01-qa.bodleian.ox.ac.uk/catalog/manuscript_3961

In Lat. th. d 31, locus also serves as the 'title' of a `nestedmsItem`, but it's in parentheses.

http://b

[2017-07-17 16:11] holfordm opened #62 "advanced search issue?"
This may just be me not understanding how it works.
I ticked the boxes for Latin and English languages, 14th and 15th cent., England and France origin (the aim was to search with multiple selections from each filter). I didn't get any meaninful results:

http://black01-qa.bodleian.ox.ac.uk/catalog?utf8=%E2%9C%93&op=AND&ms_title_s=&name_s=&f_inclusive%5Bms_lang_sm%5D%5B%5D=Latin&f_inclusive%5Bms_la

[2017-07-17 16:19] ahankinson commented on #62
Yeah, not sure what's going on there. @IgnatG ?

[2017-07-17 19:12] IgnatG commented on #62
I know where the issue is. I'll push the update tomorrow morning

[2017-07-18 09:15] IgnatG commented on #62
this should be fixed now. Reopen if it's still not "behaving"

[2017-07-18 09:15] #62 closed

[2017-07-18 10:18] holfordm commented on #60
Yes, please remove them from works.xml.  I will delete works-without-authors and works-without-authors from the repo later today, they are no longer needed.

[2017-07-18 10:32] holfordm commented on #60
ps please let me know when you've finished, there are some changes I need to make to the file. Or I can remove the # myself if you like.

[2017-07-18 11:14] ahankinson commented on #60
I'm working on some infrastructure things today (getting the names of the TEI servers sorted out) so if you're working on that file feel free to remove the #s and commit.

[2017-07-18 12:14] holfordm commented on #60
closed via c9094adb2e460691d1d4446036b6cb75a145963c

[2017-07-18 12:14] #60 closed

[2017-07-18 12:44] holfordm commented on #25
can we close this now?

[2017-07-18 12:44] holfordm commented on #5
closed. licence is now issue [56](https://github.com/bodleian/medieval-mss/issues/56)

[2017-07-18 12:44] #5 closed

[2017-07-18 12:45] holfordm commented on #24
closed

[2017-07-18 12:45] #24 closed

[2017-07-19 11:14] holfordm opened #63 "move to new Zotero library"
https://www.zotero.org/bodleianwmss/

[2017-07-19 11:16] holfordm opened #64 "fix empty elements with '@key'"
empty TEI elements with '@key' e.g. `<author key="person_1"/>` are interfering with convert2HTML - fix the empty elements or the conversion script.

This is fixed for 'author' but MLH needs to see if other empty elements are causing problems.

[2017-07-19 11:22] holfordm opened #65 "font size OK?"
in general in the manuscript records (e.g. http://black01-qa.bodleian.ox.ac.uk/catalog/manuscript_3961) do the font size, spacing, etc., meet accessibility requirements?

[2017-07-19 11:23] holfordm commented on #27
This may be fixed now that 'supplied' generates `[ ]` rather  than `< >`

[2017-07-19 11:29] holfordm commented on #14
I think this should work (as long as there is no conflict with other `msIdentifier `or `altIdentifier` rules ... )

[code]

[2017-07-19 11:56] holfordm opened #66 "crossreferences in personal names index"
in persons.xml some names are given type="crossref". This is to help someone browsing the list who might look (say) for Geoffrey Chaucer under G rather than C. My intention was that the "crossref" form would create a link to the main form (as in the ecodices person index http://www.e-codices.unifr.ch/en/person_index). Is this possible? If not, would it be possible to have multiple "display" forms

[2017-07-20 08:46] holfordm commented on #57
Would you consider moving the master copy of the ODD to the Bodleian repo in the near future? I feel that the current version should be publicly available in the Bodleian repo when the first catalogue site goes live which will probably be early August.

[2017-07-20 10:45] ahankinson commented on #66
I anticipate that people wanting to find records of "Chaucer" will use the big search bar at the top and input "Chaucer." Searching for "[Geoffry Chaucer](http://medieval-qa.bodleian.ox.ac.uk/?utf8=✓&f%5Btype%5D%5B%5D=person&q=Geoffry+Chaucer)" will give you the record for Chaucer, Geoffrey. Surprisingly, even searching for "[Jeff Chaucer](http://medieval-qa.bodleian.ox.ac.uk/?utf8=✓&f%5Btype%5D%5

[2017-07-20 13:00] IgnatG commented on #63
Can I ask if you could check the settings for both the old link and the new one and make sure that they are the same? (https://www.zotero.org/bodleianwmss/ and https://www.zotero.org/groups/434020/bodleian_library_western_medieval_manuscripts_bibliography)

I've seen that under Settings->Privacy there is a checkbox asking if you want to Publish the entire library. Can you look at the old link's se

[2017-07-20 13:04] IgnatG commented on #65
There are a couple of things that can be changed from that perspective. I haven't done much to it yet because Andrew was still tinkering with the content.

[2017-07-20 13:30] ahankinson commented on #65
Done tinkering.

[2017-07-20 13:32] ahankinson commented on #57
I could create a new repo called "tei-catalogue-schema"?

[2017-07-20 15:35] holfordm commented on #63
Sorry I should have given you a URL based on the user ID

api.zotero.org/users/3118282

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Gabriel Ignat <notifications@github.com>
Sent: Thursday, July 20, 2017 2:00:06 PM
To: bodleian/medieval-mss
Cc: holfordm; Author
Subject: Re: [bodleian/medieval-mss] move to new Zotero library (#63)

Can I ask if you could ch

[2017-07-20 15:54] IgnatG commented on #63
that's better. Just to confirm: the new URL is already populated with the same content as the previous one? or is it empty now? I can't tell for sure...that's why I'm asking.

[2017-07-20 15:59] holfordm commented on #63
It should have much more content than the other one

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Gabriel Ignat <notifications@github.com>
Sent: Thursday, July 20, 2017 4:54:04 PM
To: bodleian/medieval-mss
Cc: holfordm; Author
Subject: Re: [bodleian/medieval-mss] move to new Zotero library (#63)

that's better. Just to confirm: the new URL is already popul

[2017-07-25 10:35] IgnatG commented on #65
fixed

[2017-07-25 10:35] #65 closed

[2017-07-25 10:36] IgnatG commented on #63
fixed: moved to the new URL

[2017-07-25 10:36] #63 closed

[2017-07-25 10:36] IgnatG commented on #23
done: print style added for individual records and search results

[2017-07-25 10:36] #23 closed

[2017-07-25 10:39] IgnatG commented on #30
done: an additional filter(alphabetical) has been added for person, places and works at the top

[2017-07-25 10:39] #30 closed

[2017-07-25 10:39] IgnatG commented on #36
any updates on this?

[2017-07-25 10:40] IgnatG commented on #61
still investigating why it disappeared in the first place.

[2017-07-25 12:04] holfordm commented on #36
Nearly there! Should there be some details about the technical side? Can we keep the pages in the repo somewhere?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Gabriel Ignat <notifications@github.com>
Sent: Tuesday, July 25, 2017 11:39:42 AM
To: bodleian/medieval-mss
Cc: holfordm; Assign
Subject: Re: [bodleian/medieval-mss] provide help and about pages (#3

[2017-07-25 12:12] IgnatG commented on #36
I think it's up to you. We can include another page that contains just the technical part or we can include it in one of the existing pages.
I think we can put it on the repo here. @ahankinson what do you think?

[2017-07-25 15:20] ahankinson commented on #36
I would rather not keep non-catalogue text files in the repo...

[2017-07-31 14:36] holfordm opened #67 "beta banner"
I think we should have a beta banner somewhere on the site. It might contain or lead to a link asking for feedback This would be removed when the whole suite of TEI catalogues launches. What do you think?

[2017-07-31 16:06] IgnatG commented on #67
I think this will be nice to have but I'm not sure if I have the time to do it this week. It will probably have to be done when I'm back (which is presumably after the launch).

[2017-07-31 16:15] ahankinson commented on #67
I wouldn't want this. "Beta" implies unfinished, but this will probably never be "finished."

[2017-08-01 08:02] holfordm commented on #67
In terms of data it will never be finished and there will be a constant process of improvement, but in terms of functionality there will be (I guess) far fewer and less frequent changes. Beta seems appropriate to me with reference to the functionality of the site if we are planning a user review of the TEI sites leading to later improvements, which I had thought was part of the TEI consolidation p

[2017-08-01 08:03] holfordm opened #68 "rng and schematron"
@jamescummings commented that the RNG should be regenerated in light of the latest TEI release.

We should also think about adding schematron rules for the various catalogues. This need not be done before soft launch.

[2017-08-01 08:51] ahankinson commented on #67
I would still not advise a "beta" banner. A reason for my hesitation can be found here:

http://scores.bodleian.ox.ac.uk

This site has been in "beta" for about five years now, with slim chance that it will ever get out of beta short of a rewrite of the site. I don't think the badge adds anything to the site other than advertising our own insecurity about our work. It's the modern equivalent of th

[2017-08-01 08:59] IgnatG commented on #67
Oh no! not that badge...
I thought you were thinking about something along these lines: [https://botsify.com/](url)- that "thing" at the bottom right. - similar to a chat bot, except that we won't necessarily have a conversation with them, but we would just ask for feedback.

[2017-08-01 09:04] IgnatG commented on #67
and yes, I would go for the versioning as well if needed

[2017-08-01 09:18] holfordm commented on #67
I completely see what you mean.
I was thinking of something like this https://www.gov.uk/service-manual/design/alpha-and-beta-phase-banners
Perhaps (without using the dreaded beta word) we could say something like 'we are carrying out user evaluation on the site until [date] and your feedback will help us improve it'. If we are planning user evaluation of course!

[2017-08-01 16:54] ahankinson commented on #67
Would this be different from the contact form that is on each page?

[2017-08-02 08:30] holfordm commented on #67
I think there is a difference between making comment possible and actively encouraging it. Whether we do both for a time depends in part on whether we are having a period of user testing.

[2017-08-02 09:30] ahankinson commented on #67
I will leave this to @IgnatG to decide.

[2017-08-02 11:30] IgnatG commented on #67
I think that's a valid point. But if we are going to conduct a user testing - which I assume I'm part of or I'm conducting (with Frankie), then we will have to do it differently. This means bringing users in and watching them do things on the website. And since we bring them in, we can also conduct a usability test and an eye tracking one.

The feedback button on the actual page would act only as

[2017-08-02 12:26] holfordm commented on #67
It sounds like we do not need a separate feedback button for now.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Gabriel Ignat <notifications@github.com>
Sent: Wednesday, August 2, 2017 12:30:19 PM
To: bodleian/medieval-mss
Cc: holfordm; Author
Subject: Re: [bodleian/medieval-mss] beta banner (#67)

I think that's a valid point. But if we are going to condu

[2017-08-02 13:53] #66 closed

[2017-08-02 13:54] #36 closed

[2017-08-02 13:54] ahankinson commented on #64
I think this still needs to be determined.

[2017-08-02 16:14] #14 closed

[2017-08-02 20:30] holfordm commented on #64
The only empty element with `@key` is `<author>` so this can be closed.

[2017-08-02 20:30] #64 closed

[2017-08-03 07:41] holfordm opened #69 "html: elements in collation > `span` not `div`"
watermark, catchword, signatures should display as `span` not `div` to avoid interrupting paragraphing, as in http://medieval-qa.bodleian.ox.ac.uk/catalog/manuscript_3936 under Support.

https://github.com/bodleian/medieval-mss/blob/master/processing/convert2HTML.xsl#L1161

this change might require some punctuation to be added around watermark markup in certain records which @holfordm would deal

[2017-08-03 10:24] ahankinson commented on #53
This has been fixed.

[2017-08-03 10:24] #53 closed

[2017-08-03 10:24] #25 closed

[2017-08-03 11:02] #27 closed

[2017-08-03 19:41] holfordm opened #70 "add `respStmt` to `title` where missing"
mss. buchanan, bywater, ...

[2017-08-03 20:26] holfordm opened #71 "MSS. ChCh: add `source`"

[2017-08-04 10:04] holfordm commented on #69
`listBibl` may need to stay as a `div` - I don't know why it was included inthe same template as the other elements. Let me check how the references to the catalogues are displaying when you have reindexed. If it looks OK I will close this again.

[2017-08-04 10:24] holfordm opened #72 "`source` not displaying correctly"
https://github.com/bodleian/medieval-mss/blob/master/processing/convert2HTML.xsl#L1236

for incorrect display see e.g. http://medieval-qa.bodleian.ox.ac.uk/catalog/manuscript_921

I don't understand the reason for this treatment of the first text() content. Can we try just applying templates within `source`, I can't see why that would produce any problems ...

[2017-08-04 16:18] holfordm opened #73 "display issue in Internet Explorer"
The page header and footer aren't rendering correctly in internet explorer. I have been told that this also affects Safari but haven't seen that myself. Chrome and Firefox are fine.

[2017-08-04 16:42] holfordm commented on #71
closed via https://github.com/bodleian/medieval-mss/commit/87ba7c8a4562093d9e5fd31b0385bb51fa01be33#diff-0b9abfe67cc31fcf1ecd022eb19a5216

[2017-08-04 16:42] #71 closed

[2017-08-08 16:42] holfordm opened #74 "bug in print stylesheet?"
using Mozilla - when printing a multipage record, only the first page prints.
e.g.: https://medieval.bodleian.ox.ac.uk/catalog/manuscript_10000

This does not affect Chrome. I haven't tested other browsers.

[2017-08-08 16:43] holfordm opened #75 "improve display of `additional/listBibl`"
see https://medieval.bodleian.ox.ac.uk/catalog/manuscript_1097

[2017-08-08 16:44] holfordm opened #76 "fix text size in `additions`"
see https://medieval.bodleian.ox.ac.uk/catalog/manuscript_1097

[2017-08-10 19:30] holfordm opened #77 "replace ¦¦ in ChCh"
replace the ¦¦ character indicating defective text with equivalent markup
requires schema update to allow for defective rubric and update to convert2HTML

[2017-08-29 13:11] IgnatG commented on #74
It looks like it's just a Firefox issue. this has been fixed on my end. It will be updated on the actual web page when Andrew is back - I think

[2017-08-29 13:11] #74 closed

[2017-08-29 13:11] IgnatG commented on #76
Implemented on my end - waiting to be updated on the actual webpage now

[2017-08-29 13:11] #76 closed

[2017-08-29 13:13] IgnatG commented on #73
This was fixed on my end a while ago. It just needs updating on the actual webpage. It looks like it works fine in IE10. But it crashes in IE 11....

[2017-09-04 08:36] holfordm opened #78 "updates and url stability"
@ahankinson , what is the best way to deal with updates to authority files that impact on existing URLS?
For example, https://medieval.bodleian.ox.ac.uk/catalog/work_14680 and https://medieval.bodleian.ox.ac.uk/catalog/work_14679 are the same work and there should be only one entry. If work_14679 becomes the canonical URL, should we (can we?) set up a redirect from work_14680 to work_14679, and (i

[2017-09-04 09:05] ahankinson commented on #78
We would have to do that manually on a case-by-case basis, so it's not very scalable.

[2017-09-04 09:52] holfordm commented on #78
I envisage changes to works.xml being made gradually and manually, as they are noticed (together with associated changes to the manuscript records of course) - similarly with duplicates in persons.xml. I don't think there is an enormous number of duplicates, but inevitably there will be some.

[2017-09-04 10:14] holfordm commented on #78
You mean the redirects would have to be set up manually? I was hoping it might be possible to set up redirects with appropriate markup in works.xml (something like `<note type="redirect" target="https://medieval.bodleian.ox.ac.uk/catalog/work_14680">Merged into https://medieval.bodleian.ox.ac.uk/catalog/work_14680 and deprecated</note>`)

[2017-09-04 15:25] holfordm opened #79 "author pages should link to works?"
This would be helpful, since it is currently possible to miss index entries for works due to variant spellings.
E.g., search for "mirfield" brings up the entry for "Mirfeld, John, -1407" (as the variant spelling is captured there), but not the work entry Mirfeld, John, -1407: Breuiarium bartholomaei [Latin] (because the variant spelling is not captured there)

[2017-09-11 09:26] holfordm opened #80 ".msItem should have bottom border, like .nestedmsItem"
sample record:
https://medieval.bodleian.ox.ac.uk/catalog/manuscript_4448

the bottom border, padding etc. which apply to .nestedmsItem should also apply to the main .msItem, to improve the legibility of the record.

[2017-09-11 09:43] holfordm opened #81 "filter text displays awkwardly on small screens"
e.g. https://medieval.bodleian.ox.ac.uk/?f%5Btype%5D%5B%5D=manuscript, filtering by origin, filters include:
Byzantin
e Empire
Luxembu
rg
where filters are divided mid word into multiple lines.
There are similar problems in the Language filter and, especially, in the Collection filter - if possible, the filter text here should be shorter (just the short title, not short + expanded).
Is there anyth

[2017-09-11 09:50] holfordm opened #82 "div.form, .support, .extent, .dimensions should have margin-bottom 5px ?"
sample record:
https://medieval.bodleian.ox.ac.uk/catalog/manuscript_3971

I think it would improve legibility of the record if these elements had the same bottom margin as .secFol

[2017-09-11 09:52] ahankinson commented on #78
Do you mean you want to just provide a link pointing from the deprecated work to the 'real' one? Or you want it to automatically re-route the user?

The first is possible, but it will mean that the deprecated records will appear on the Source and Person records, so you would get duplicate records in those lists.

The second is considerably harder (if not impossible). Re-directing and rewriting URL

[2017-09-11 09:54] holfordm opened #83 ".super interferes with line height?"
sample record: https://medieval.bodleian.ox.ac.uk/catalog/manuscript_3971

the superscript characters appear to cause irregularity in the line spacing.

[2017-09-11 09:59] holfordm opened #84 "set up procedures for site updates"

[2017-09-11 10:02] ahankinson commented on #84
Could you please provide more context? Are you wanting anyone to be able to provide site updates?

[2017-09-11 10:04] holfordm opened #85 "change heading of .zotero-bibliography"
We should change the heading from 'Bibliography' to 'Zotero bibliography'. This is because some records (e.g. https://medieval.bodleian.ox.ac.uk/catalog/manuscript_1097) include bibliography in the record itself which currently generates an identical heading. (The display of this needs to be fixed as well, but that is another issue...)

[2017-09-11 10:09] holfordm commented on #57
Yes, please do. @jamescummings, I assume we may now fork the ODD to the Bodleian repo? (which will then become the master copy?)

[2017-09-11 10:46] ahankinson commented on #57
It is here: https://github.com/bodleian/consolidated-tei-schema

[2017-09-11 10:46] #57 closed

[2017-09-11 10:51] holfordm commented on #84
Sure! I'm open to your suggestions here and the procedure may be different for the different catalogues. I think we would want to update monthly at the moment. If it's easier for me to run the scripts than for someone at BDLSS to do that, that's OK with me. Although you will probably need to run them through with me again. I assume that updates will apply initially to the QA site and when that has

[2017-09-11 13:47] IgnatG commented on #85
//done

[2017-09-11 13:47] #85 closed

[2017-09-11 13:48] IgnatG commented on #80
//done; double check and re-open issue if needed

[2017-09-11 13:48] #80 closed

[2017-09-11 13:48] IgnatG commented on #82
//done; double check and re-open issue if needed

[2017-09-11 13:50] IgnatG commented on #81
I was trying to replicate the issue but I can't see it immediately. Can I ask what screen size it was? Was it a mobile phone? Or directly in the browser?

[2017-09-11 13:51] IgnatG commented on #83
//done; double check and re-open issue if needed.
// this applies to all other as well: at the moment I've pushed the changes to the repo. They should go live soon.

[2017-09-11 14:27] holfordm commented on #81
It is an issue in Chrome and Mozilla when the browser is small enough (e.g. when it is half screen size). The filters actually look fine on mobile. Will check on tablet later...

________________________________
From: Gabriel Ignat <notifications@github.com>
Sent: 11 September 2017 13:50
To: bodleian/medieval-mss
Cc: holfordm; Author
Subject: Re: [bodleian/medieval-mss] filter text displays awkwar

[2017-09-12 13:42] IgnatG commented on #81
done. This should show up on the actual website soon

[2017-09-12 13:42] #81 closed

[2017-09-13 08:52] holfordm commented on #83
Not sure this has been resolved - e.g. http://medieval-qa.bodleian.ox.ac.uk/catalog/manuscript_3962, particularly in the collation and provenance sections

[2017-09-13 09:00] holfordm commented on #82
The spacing between `extent` and `dimensions` remains irregular (e.g. http://medieval-qa.bodleian.ox.ac.uk/catalog/manuscript_3962). This was my mistake in specifying the issue. Because the dimensions `div` is nested inside the extent `div`, both together only have one bottom border. To fix this we need to give `div.dimensions` `margin-top` of 5px rather than `margin-bottom` 5px.

[2017-09-13 09:07] holfordm opened #86 "redirects from old site?"
There are still quite a few references to the old site on search engines.
Search for "Lat liturg f 23" and you will see what I mean.
It would be great if these could be redirected to a page that said something like "You have followed a link to an older version of this site, you will be redirected to the new version shortly" (followed by a redirect).
The relevant URL patterns seem to be `medieval.b

[2017-09-13 09:16] holfordm commented on #78
option 1 would be fine were it not that the deprecated records would appear in the index. Is there any way of getting round this? (e.g. putting deprecated records in a separate directory and indexing them separately? would that help with implementing option 2?)

[2017-09-13 09:19] holfordm opened #87 "clarify indexing policy on About or Help page"
the About and/or Help page should provide more detailed information about what has or has not been marked up and indexed in the TEI - in particular, the fact that auction houses, booksellers and modern binders are not indexed.

[2017-09-13 09:23] holfordm opened #88 "review treatment of countries"
The treatment of countries, particularly those exposed in the origin filter, should be reviewed by a specialist (Martin) for consistency and accuracy. Consistency should be aimed for, as far as possible, (1) in the use of modern / former country entities (2) in the treatment of countries and regions (e.g. Germany  / Austria). Decisions should be explained on the Help or About page or in the LibGui

[2017-09-13 09:29] holfordm commented on #73
medieval-qa seems to be working fine in IE 11 for me...

[2017-09-13 09:29] #67 closed

[2017-09-13 09:31] holfordm commented on #13
I think this can be closed?

[2017-09-13 10:19] IgnatG commented on #82
//fixed. It should be reflected on the next update

[2017-09-13 10:19] #82 closed

[2017-09-13 10:20] IgnatG commented on #83
//fixed. It should be reflected on the next update

[2017-09-13 10:20] #83 closed

[2017-09-13 10:20] IgnatG commented on #73
it should work fine also on the main website.

[2017-09-13 10:20] #73 closed

[2017-09-18 14:14] holfordm opened #89 "Bibliography heading should be in <h3> not <h5>"
Display of the 'Bibliography' heading (additional/listBibl) should be h5 to match the other headings in the record ('Content', 'Physical description', 'Zotero bibliography' etc.).
Sample records:
http://medieval-qa.bodleian.ox.ac.uk/catalog/manuscript_10000
http://medieval-qa.bodleian.ox.ac.uk/catalog/manuscript_1097

code in convert2HTML:
https://github.com/bodleian/medieval-mss/blob/dbfc9a8e5232

[2017-09-18 14:23] holfordm opened #90 "remove indentation of ul.listBibl"
the section ul.listBibl [inside div class="additional"]  is currently indented - I think this indentation should be removed, so the text is flush with the left margin, consistent with the rest of the record.

sample records:
http://medieval-qa.bodleian.ox.ac.uk/catalog/manuscript_1097
http://medieval-qa.bodleian.ox.ac.uk/catalog/manuscript_10000

## Context
This will improve the appearance of the

[2017-09-18 14:33] holfordm opened #91 "condition should generate div"
In contrast to the other elements in physDesc, `condition` does not currently generate a `div` in the html.

It should generate div.class=condition. This can then be styled with appropriate top and bottom margins. The purpose of this is to regularize spacing in the physical description section and improve legibility of the records. Current display is cramped in this section, see for example http:/

[2017-09-18 14:37] holfordm opened #92 "div.foliation should have top-margin 5 px"
This is to create consistent and legible spacing in the physical description section.

Sample record:
http://medieval-qa.bodleian.ox.ac.uk/catalog/manuscript_10000

The same rule should be applied to div.condition when this has been created in the html (it is not currenlty being created by the conversion process).

[2017-09-19 09:05] IgnatG commented on #92
//done

[2017-09-19 09:05] #92 closed

[2017-09-19 09:06] IgnatG commented on #90
//done

[2017-09-19 09:06] #90 closed

[2017-09-19 11:59] ahankinson opened #93 "Trailing underscore in ChCh Allestree MS M.1.10"
## Detailed Description
The xml:id identifier in Allestree MS M.1.10 has a trailing underscore which is breaking the indexing process.

## Link to Page
https://github.com/bodleian/medieval-mss/blob/master/collections/Christ_Church/Christ_Church_Allestree_Library_MS_M110.xml#L42

[2017-09-19 12:18] holfordm commented on #93
fixed via f3881dda917a6b72a2858a9721ece955fed3c30a

[2017-09-19 12:18] #93 closed

[2017-09-19 15:08] #89 closed

[2017-09-19 15:12] #91 closed

[2017-09-19 15:30] ahankinson commented on #84
All the tools for you to update the site are available in the repository, and the README should tell you how to do it.

The only special thing I have is a little shell script that looks like this:

[code]

Which I call 'index-all-qa.sh'. As you can see, all it does is create the HTML, and then index and upload the appropriate data type to the QA solr system. (I've got a similar one that I run for

[2017-09-19 15:45] ahankinson commented on #86
As far as I can tell the identifiers used on the old site are ephemeral, and don't actually exist in the TEI data. So there is no way to link:

http://medieval.bodleian.ox.ac.uk/profile/manuscript/87707656-0722-4f8f-83c1-bc44cacb946c

with

https://medieval.bodleian.ox.ac.uk/catalog/manuscript_6532

even though the point to the same record.

I think the best thing to do is to try and drop all the

[2017-09-19 18:30] holfordm commented on #86
That is correct about the identifiers. It would have to be a general redirect from a URL pattern to say the home page of the new site. But the search console approach sounds simpler.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Andrew Hankinson <notifications@github.com>
Sent: Tuesday, September 19, 2017 4:45:23 PM
To: bodleian/medieval-mss
Cc: holfordm;

[2017-09-22 11:26] holfordm opened #94 "Placing and display of links to digital.bodleian / other digital facsimiles"
## Detailed Description
Linking between digitial.bodleian and this catalogue is not part of this project. However, these links are envisaged as part of future projects and, where links from the catalogue to fascimiles can be easily added now, they should be. We should decide: (1) where these links should go in the TEI (2) how this should be displayed

## Link to Page
https://medieval.bodleian.ox.a

[2017-10-02 08:08] holfordm commented on #75
2. has been fixed by @IgnatG  in CSS.
1. has partly been fixed by @ahankinson via d852e3bea47d5f222e807c5b87133445acdd46d7 - however, the heading still renders differently from the other main headings ('Record Source', etc.). Presumably this is because of  the tei-label class? Would it be best to (a) have no class (cf. Record Source) or (b) have class="msDesc-heading3" (as with the History heading

[2017-10-02 11:56] ahankinson commented on #75
I think (b) would be the best option.

[2017-10-03 13:34] holfordm opened #95 "Fix Auct_B_subt /subtus shelfmarks"
filename needs to match msID

[2017-10-03 16:45] holfordm commented on #95
fixed via f0fa50de764010d3fda4d198e43d487776150315 and dce399a4a02437e765960ee5a351f73bbebf4837

leaving open to remind me to add a schematron rule to prevent this from happening

[2017-10-16 13:24] #95 closed

[2017-10-20 10:30] #84 closed

[2017-10-20 11:04] holfordm commented on #75
fixed via ed985774fecb37f8a4508013b10b30bc93fc3b13

[2017-10-20 11:04] #75 closed

[2017-10-23 08:25] holfordm commented on #72
fixed by https://github.com/bodleian/medieval-mss/commit/ad8c91b8681d9c20adf725643adfb88a05648e5b

[2017-10-23 08:25] #72 closed

[2017-10-23 08:44] holfordm commented on #22
@ahankinson @IgnatG shall we go ahead with linking to the files on GitHub? If so how should we implement it in the HTML? How about, for example, a `<div>` at the bottom of the record which would contain (1) link to the TEI (2) details of licence for the record (cf. #56) (3) suggested citation (cf. #39).

- The TEI link would look something like the one here http://syriaca.org/person/1102 using the

[2017-10-28 18:56] holfordm opened #96 "msPart/altIdentifier should display"
## Detailed Description
Information in the TEI record in msPart/altIdentifier should display in the HTML record.

## Link to Page
Examples:
https://medieval.bodleian.ox.ac.uk/catalog/manuscript_4947 - information about upper and lower script in the record is lost
https://medieval.bodleian.ox.ac.uk/catalog/manuscript_959 - information about the extent of the different units is lost

## Context
msPa

[2017-10-28 19:16] holfordm opened #97 "display of e-caudata"
## Detailed Description
Display of this character needs checking

## Link to Page
https://medieval.bodleian.ox.ac.uk/catalog/manuscript_6589
(fol. 21 art 4)

[2017-10-30 17:04] holfordm opened #98 "record source heading to be triggered by source, not additional"
## Detailed Description
In composite manuscripts, unnecessary 'record source' heading is generated by inclusion of bibliography

## Link to Page
http://medieval-qa.bodleian.ox.ac.uk/catalog/manuscript_675

## Context

## Possible Implementation

[2017-11-06 16:49] holfordm commented on #94
fixed (for now at least) via https://github.com/bodleian/medieval-mss/commit/a955eaf7ad65eccff2c277909cd87afd78bcff46#diff-417d49c41d7d8a26ded45e257c2038c6

[2017-11-06 16:50] #94 closed

[2017-11-24 12:55] andrew-morrison commented on #96
So, instead of headings such as...

Manuscript Part 1
Manuscript Part 2

...do you want headings with the idno values appended, such as...

Manuscript Part 1: MS. Gr. bib. d. 2 (P) - upper script
Manuscript Part 2: MS. Gr. bib. d. 2 (P) - lower script

...and when there are notes maybe add them as a line beneath, possibly in italic, like this...

Manuscript Part 1: MS. Barocci 133 - Part A
_fols.

[2017-11-24 16:12] holfordm opened #99 "problem with results paging in Zotero"
## Detailed Description
When there are more than 25 results in Zotero, they are spread over multiple pages. Moving from the first page of results currently results in an error whereby the second page of the whole library is displayed.

## Link to Page
https://www.zotero.org/bodleianwmss/items?tag=MSS.%20Douce%205-6 [landing page from our catalogue, http://medieval-qa.bodleian.ox.ac.uk/catalog/manu

[2017-11-24 16:42] IgnatG commented on #99
I will have a look at it but I can't do it straight away. I'm distracted with SOLO&ORA (+ Exhibitions) at the moment. It will have to be in January I'm afraid.

[2017-11-24 17:22] holfordm commented on #99
Thanks!

[2017-11-24 17:25] holfordm commented on #96
I think option (c), "get rid of the "Manuscript Part N" completely and rely on whatever has been catalogued in altIdentifier" - just display the string value of elements in `<altIdentifier>` (should just be `<idno>` and sometimes `<note>`. There may be a little tidying up to do for consistency but I will take care of that.

[2017-11-27 10:49] holfordm opened #100 "place index (as well as person index) should filter by role"
## Detailed Description
This may seem odd but since places includes organizations which have roles such as "formerOwner" (mostly) or "binder" (occasionally), it should be possible to filter by these roles, as in the persons index

## Link to Page
http://medieval-qa.bodleian.ox.ac.uk/?f%5Btype%5D%5B%5D=place

## Context
Users can't currently use the filters to return all owners (or binders, etc.) s

[2017-11-27 10:55] ahankinson commented on #100
@andrew-morrison Could you look at the person roles and see if you can implement that in the places index for the Medieval catalogue? Once that's in place I will update the Blacklight app to show the facet.

[2017-11-27 14:15] andrew-morrison commented on #100
I can easily do this for orgName elements. Of the 366 currently predefined organizations, there are 121 with the role of "formerOwner" (which is translated into "Owner or signer" for people, but perhaps just "Owner" would be better for organizations?), 4 with "binder", and one each for "patron" and "artist".

That means only about 15% of everything listed on the web site in the "Places" browser wi

[2017-11-27 16:29] andrew-morrison commented on #26
@holfordm: Are any of the issues here that haven't been marked as fixed still relevant?

[2017-11-27 16:42] andrew-morrison commented on #69
@holfordm: Is this still an issue? If so, please could you provide a new example.

[2017-11-27 16:47] andrew-morrison commented on #21
Can this issue be closed? Now the images are on the same server, they don't need absolute URLs. But they're not checked in to this repository. Is that still desirable/practical?

[2017-11-27 17:35] holfordm commented on #100
I see the problem regarding incomplete filters - the same problem applies to the persons index, in fact -- although more people have roles, not all of them do.
I don't think it makes sense to introduce roles where they are not present; it may make sense to have a filter for placename type at some point, but that should be a separate filter, I think
Maybe the whole issue could be addressed by addin

[2017-11-28 15:33] andrew-morrison opened #101 "Request for tooltips in the user interface"
## Detailed Description
@holfordm has suggested tooltips (or whatever you call popup information boxes) to provide help to users and make them aware of things:

## Context
For example, when subtleties of the data might need to be communicated to end users. Such as why the numbers against all the options in filters/facets don't add up to the total number of matched records. See discussion in #100.

[2017-11-28 15:49] ahankinson commented on #101
Assigning to Gabriel for comment

[2017-11-28 16:14] andrew-morrison opened #102 "Improve coverage in filters"
## Detailed Description
Not all Solr records (manuscripts, people, places, etc) provide at least one value to all the search facets (aka filters). Complete coverage is not possible in all cases, but the more records that are represented in each relevant filter the better the user experience. See discussion in #100.

## Context
Under-populated filters can mislead people, if they think it's an accur

[2017-11-28 16:24] andrew-morrison commented on #100
I've created some new issues to separate out the longer-term stuff. I'll go ahead and implement the Role facet on Places in the most basic way, just using orgName/@role values, and populating the pp_roles_sm index so it merges with People when in the generic search, and let you know when it is on the QA site.

[2017-11-29 13:00] andrew-morrison opened #103 "Should there be any "blank" people?"
In other words, should people in persons.xml but not (yet?) tagged anywhere in any manuscript TEI file be indexed and appear on the web site?

There are currently 25 of these, for example:

http://medieval.bodleian.ox.ac.uk/catalog/person_100170309
http://medieval.bodleian.ox.ac.uk/catalog/person_305190695

Possibly related to #34

[2017-11-29 13:02] andrew-morrison commented on #103
Ditto for places and works, although I haven't checked if there are any examples for those. Sorry if this has been asked before.

[2017-11-29 14:02] holfordm commented on #103
Thanks. These are probably cases where I have updated an identifier but forgotten to change the authority file. Could you send me a list and I will check them. Also if you have a script for finding them it might be useful to have it in the repo in a new 'QA' or 'tests' directory?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: andrew-morrison <notifications@

[2017-11-29 14:03] ahankinson commented on #103
If at all possible I would prefer to keep scripts in the 'processing' directory, just so they're not scattered across the project.

[2017-11-29 17:54] andrew-morrison commented on #103
I can modify the XQuery to skip over these cases, so they'll disappear from the web site, and also write to a [log file](https://github.com/bodleian/medieval-mss/files/1514697/log.txt).

So, instead of maintaining a separate script, generate-solr-document.sh would check for this (and potentially other data issues) every time you run it. Would you like it to ask you whether to proceed to the re-ind

[2017-11-30 11:30] holfordm commented on #103
Yes, why not

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: andrew-morrison <notifications@github.com>
Sent: Wednesday, November 29, 2017 5:54:19 PM
To: bodleian/medieval-mss
Cc: holfordm; Assign
Subject: Re: [bodleian/medieval-mss] Should there be any "blank" people? (#103)

I can modify the XQuery to skip over these cases, so they'll disappear from the we

[2017-11-30 14:07] andrew-morrison commented on #103
@holfordm: Do you work on Windows and have your own .bat scripts for running the XQuery and updating Solr? If so, they'd need a few changes for the XQuery to write to a log file. If you commit those we might be able to re-use them for other TEI catalogues.

[2017-12-01 11:26] holfordm commented on #103
Using the git shell in Windows I can run the .sh scripts.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: andrew-morrison <notifications@github.com>
Sent: Thursday, November 30, 2017 2:07:57 PM
To: bodleian/medieval-mss
Cc: holfordm; Mention
Subject: Re: [bodleian/medieval-mss] Should there be any "blank" people? (#103)

@holfordm<https://github.com/holfordm

[2017-12-04 10:02] IgnatG commented on #101
I'm not sure if a tooltip is the right way to do it since they are normally meant for short(3-4 words) descriptions.
Nevertheless, if it's something that we need to add, then I can look into it. -- Maybe come up with another option.
The problem is that this will take longer to implement and at the moment I can start working on it in July (the earliest) next year. If it needs to be implemented soon

[2017-12-04 10:03] ahankinson commented on #101
Perhaps a note could be added to the "Help" page about the contents of the facets?

[2017-12-04 10:05] IgnatG commented on #101
Yes. This is something that can be implemented straight away - @holfordm has to do it though.
I'm not entirely sure if people are actually looking at the "Help" page that often to notice that we've added something new there but I think it can be a start.

[2017-12-04 12:10] andrew-morrison opened #104 "Date issues"
I'm not sure of the effect on the web site, but the XQuery script that controls what is indexed for manuscripts is looking in the TEI for history/origin/date elements within msDesc and msPart sections, and finding nothing. That means nothing is being indexed in the following Solr fields:

ms_date_stmt_s
ms_date_earliest_i
ms_date_latest_i

Maybe these aren't needed any more anyway? Or the configur

[2017-12-04 13:15] andrew-morrison opened #105 "Same manuscript linked twice in some person and place pages"
## Detailed Description
Duplicate links to the same manuscript (with the same manuscript ID, so definitely not an issue with multiple IDs in the TEI.)

## Link to Page
For example, [Galen](http://medieval-qa.bodleian.ox.ac.uk/catalog/person_44299175) has two links to [MS. Lat. misc. c. 73](http://medieval-qa.bodleian.ox.ac.uk/catalog/manuscript_6595)

## Context
Minor issue. Slightly annoying.

##

[2017-12-04 14:21] holfordm commented on #104
I think that what has happened is that `@notAfter`, `@notBefore` and `@when` were to be used for the date filter, but this was impractical, so @ahankinson created a century filter instead. However I suggest that we retain the indexing of those attributes so that in future an advanced search on date with notBefore and notAFter boxes could be created.

[2017-12-04 14:27] holfordm commented on #101
This is an interim solution although I strongly suspect that most people don't look at the help pages.
Possible danger of the help page becoming crowded and wieldy? @ahankinson to what extent could more detailed help/about information go on a wiki in this repo (with links to/from main site of course)?

[2017-12-04 14:30] ahankinson commented on #101
If we're worried about the Help pages not getting read by users, I would suspect that a wiki page here would be read by even fewer, even with links to/from.

I would reserve the wiki pages here for documentation about the service itself, or for information about how to catalogue the data and keep anything related to users on the site itself.

[2017-12-04 14:32] holfordm commented on #26
still live:

- refine rules for inserting ';' before or after origPlace [see e.g. http:/medieval-qa.bodleian.ox.ac.uk/catalog/manuscript_1591 part 4]; problems with multiple origPlace generating multiple ';;' only first or last should generate it?
- multiple authors should be separated by '&' not ';' [http://medieval-qa.bodleian.ox.ac.uk/catalog/manuscript_1591] (part 5 item 3)
- conversion genera

[2017-12-04 14:34] holfordm commented on #42
Modified schematron now checks that ID and filename match

[2017-12-04 14:34] #42 closed

[2017-12-04 15:57] andrew-morrison commented on #101
Maybe an FAQs section in the help page? Such as...

...and...

[2017-12-04 17:22] #100 closed

[2017-12-04 18:06] andrew-morrison commented on #103
@holfordm: I've committed changes to the scripts that generate the index files and send them to Solr. They fix a few bugs, this issue included, but also includes enhancements with an eye towards making the process more user-friendly for other TEI catalogues in the future.

The main change is logging of data issues while generating the Solr files. That includes the people in the authority file who

[2017-12-04 18:11] andrew-morrison commented on #103
Reopening for @holfordm to comment.

[2017-12-05 14:45] andrew-morrison commented on #98
I've commited [a fix to the consolidated-tei-schema repository](/bodleian/consolidated-tei-schema/commit/da1c3b9d26602779f0cf0dedbe77cf376201663a) (now that the core XSLT for generating manuscript HTML resides there) and refreshed medieval-qa.

The only manuscripts which appear to be visibly affected are the following six:

[Add_A/MS_Add_A_370](http://medieval-qa.bodleian.ox.ac.uk/catalog/manuscri

[2017-12-05 14:45] #98 closed

[2017-12-06 12:00] andrew-morrison commented on #96
I've implemented this change. It will put the contents of the note element in parentheses unless it already begins with an opening bracket.

It fixes a bug that multiple levels of msPart (i.e. parts within parts) caused the numbering to reset. For example, in MS. Douce d. 19, parts 10a-c are headed as extra parts 1-3 [on production](https://medieval.bodleian.ox.ac.uk/catalog/manuscript_4766), but

[2017-12-06 12:00] #96 closed

[2017-12-06 13:16] #70 closed

[2017-12-06 13:23] holfordm opened #106 "convert2HTML: treatment of msItem\`@n`"
## Detailed Description
Currently if there is a '@n' on `<msItem>`, it only displays if there is also a `<locus>`. This creates problems when `<locus>` is not universally present as in the example below

## Link to Page
http://medieval-qa.bodleian.ox.ac.uk/catalog/manuscript_413

## Context
Looks amateurish

## Possible Implementation
if possible, display of `@n` should be in the template for `<ms

[2017-12-06 15:26] andrew-morrison commented on #22
Is it an issue that the version of the source XML here could be ahead of what was used to generate the HTML view on the production web site? Unless release branches are used, and there'd be no way for the XSL or the site to know which to link to. Or would users just want the latest?

[2017-12-06 17:56] holfordm commented on #22
Possible way around this - don't know whether it would work in practice...
Future updates on production are versioned. Versions are recorded in the TEI `<editionStmt>` with a reference to the commit used. The XSL uses this to link to the correct version of the file on github.
Users may also appreciate (as well as the link to the raw TEI) a link for something link "view the history of this file".

[2017-12-07 10:18] ahankinson commented on #22
There's a chicken-and-egg problem here. The 'commit used' (the SHA1 hash key, which is what git uses to identify commits) in the editionStmt wouldn't be known until after the commit is made, so you would have to commit first to know it, then change it, then commit again, at which point the editionStmt is out of date...

Parsing out the git hash may also be difficult in XSLT.

I believe what Andrew

[2017-12-07 10:44] holfordm commented on #22
Hm, good point.
The links from the page could say something like:
1. TEI on GitHub (most recent version, may differ from the record displayed here)
2. TEI on GitHub (version history)

[2017-12-07 13:55] andrew-morrison commented on #106
So, the requirement is for all `msItem` elements that have been given an `@n` to be displayed with the contents of that, before the first child element, regardless of whether that individual one, or any of its sibling `msItem` elements, contains a `locus`? No `@n` means no numbering, whether deliberate or accidental.

If so, the problem is that the various elements that can be the first child of a

[2017-12-08 16:55] andrew-morrison commented on #104
Reinstating these fields would do little more than add noise to the index.

Nothing that would be indexed in ms_date_stmt_s isn't already indexed as free text. Even typos, [for example](http://medieval-qa.bodleian.ox.ac.uk/?utf8=%E2%9C%93&f%5Btype%5D%5B%5D=manuscript&q=%2216rh+century%22).

ms_date_earliest_i and ms_date_latest_i appear not to be configured to be indexed by Solr at all.

Therefore

[2017-12-08 17:35] andrew-morrison commented on #104
While investigating this, I found that the XQuery hasn't been including some manuscripts in all the centuries it should in the Century filter, if the `@notAfter` was a turn-of-the-century year. For example...

`<origDate calendar="Gregorian" notAfter="1600" notBefore="1400">15th century and 16th century</origDate>`

...was being indexed as 15th century only. Now it will be included in the 16th cen

[2017-12-11 12:10] holfordm commented on #106
I think I need to see how the different possibilities look on screen (sorry...). Could we try: if the msItem first child is `<locus>`, then output the `@n' inline; otherwise, output it as a `<div>`?

[2017-12-11 13:29] andrew-morrison commented on #106
I've implemented that, and updated the QA site.

As suspected, the CSS means the new numbering on non-locus items, in their own divs, are 16pt font size, while the numbering in line with the locus are 18pt. Not a big deal, and should be possible to fix.

One additional complication: I've set it up so there must be multiple sibling msItems with `@n` for it to display the numbering. Otherwise it add

[2017-12-11 14:29] andrew-morrison commented on #26
I've had a go at the fourth of those still-live issues. I've made a change
[affecting 300 manuscripts](https://github.com/bodleian/medieval-mss/files/1548091/manuscripts_with_fewer_commas_between_titles_and_notes.txt) that tightens the rules for inserting a comma so that:

- The title and note must be adjacent
- The first non-whitespace character must not be an opening bracket, uppercase letter of

[2017-12-12 13:29] holfordm commented on #106
with CSS fix I think this will be OK, thanks. (Shall we leave the issue open as a reminder about the CSS or do you want to open a new issue for that?)

[2017-12-12 13:34] holfordm commented on #104
There are some cases where a long date range does indeed mean either "created in the 3rd, 4th, 5th and 6th centuries" or "created at some point in the 3rd-6th century, we don't know when", and in these cases it would be good to index each century (3, 4, 5, 6).
In other cases a date range is caused by using one `<origDate>` to capture two non-contiguous date events, which we have now deprecated: tw

[2017-12-12 15:21] holfordm opened #107 "history//region[@key] should index"
## Detailed Description
I noticed that places.xquery isn't indexing the `<region>` element which is used inside `<origPlace>`. Many of the regions don't currently have `@key` (partly because several are vague regions like 'North'), but several do (e.g. Normandy, Brittany), and I will add `@key` to those that need it but don't have it over the coming weeks.

[2017-12-12 16:14] andrew-morrison commented on #107
This is a very simple change. I've tested it, and reindexed places on QA. It adds Burgundy, Brittany and Veneto. Anjou, Lombardy and Normandy were already being indexed, because there are manuscripts in which they are referenced as placeNames instead of regions, but their lists of links to manuscripts are increased.

[2017-12-12 16:14] #107 closed

[2017-12-12 16:23] andrew-morrison commented on #105
This is also an issue for places, especially with #107 adding two ways that a region can be linked to the same manuscript, as either a placeName or a region.

[2017-12-12 16:26] andrew-morrison commented on #104
OK, using multiple origDate fields for discrete periods when something was added to, over the course of several centuries, makes sense. Out of interest, where would that sort of recommendation be documented?

I can send you a list, but if you're using Oxygen the easiest way to find origDate fields spanning multiple centuries would be to do a File/Replace in Files, setting the _Text to find_ to `.+

[2017-12-12 18:24] andrew-morrison commented on #104
Another issue to be fixed is when the date range straddles the year 1 AD (but there are currently only four examples of this.)

[2017-12-13 15:03] andrew-morrison commented on #104
There are also 17 instances where the `@notBefore` is later than the `@notAfter`. You can find them the same way using this XPath:

`//tei:origin//tei:origDate[@notAfter/data() < @notBefore/data() and @notAfter/data() > 0]`

[2017-12-13 16:07] holfordm commented on #104
We should add a schematron rule to catch this

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: andrew-morrison <notifications@github.com>
Sent: Wednesday, December 13, 2017 3:03:04 PM
To: bodleian/medieval-mss
Cc: holfordm; Comment
Subject: Re: [bodleian/medieval-mss] Date issues (#104)

There are also 17 instances where the @notBefore is later than the @notA

[2017-12-14 10:12] andrew-morrison commented on #104
I think the XQuery now handles all origDates as it should. [Attached is a chart](https://github.com/bodleian/medieval-mss/files/1558649/date_issues.pdf) showing the difference made by the above code fixes, and the latest updates made to the TEI, on the Century filter.

Notable is that the 1st and 2nd BCE have gone down, but I believe this is correct. The old code was regarding something like this.

[2017-12-14 14:15] andrew-morrison opened #108 "Should work titles starting with the word "The" be listed under "T"?"
## Detailed Description
The first letter of work titles are extracted so Solr can index them and enable the "Limit your search by letter" feature. At the moment, that's the first letter or number in the title, regardless of what the first word is.

## Link to Page
Go to Works and then click on the letter T. The [first page](http://medieval-qa.bodleian.ox.ac.uk/?f%5Balpha_title%5D%5B%5D=T&f%5Btype%

[2017-12-15 16:02] andrew-morrison opened #109 "Works not being indexed with all their languages"
## Detailed Description
I noticed while reviewing the XQuery which builds the Solr index that `@otherLangs` values in works.xml are being ignored.

## Link to Page
The Languages filter on the [Works](https://medieval.bodleian.ox.ac.uk/?f%5Btype%5D%5B%5D=work) page is missing about 600 potential work-language associations.

## Context
For example, the "French" option could return 163 more works if

[2017-12-18 11:12] holfordm commented on #109
This is an oversight; please go ahead and correct it!

[2017-12-18 11:28] andrew-morrison commented on #108
Yes, the display of the title would be unaffected, just assigned to a different letter of the alphabet in the index.

[2017-12-18 17:18] andrew-morrison opened #110 "Prevent indexing of common standard headings and labels inserted by the XSL"
This has been the case until now: everything you see on a manuscript's page on the production web site is indexed for that manuscript.

But we've found a bug (which can crash the web site if a visitor runs long phrase search queries) that requires changing the Solr configuration. That means the above stops being the case by default.

We can restore that functionality but it is worth asking if it's

[2017-12-19 12:24] andrew-morrison commented on #110
I've set up and tested a mechanism, and re-indexed on QA with the following changes to what's indexed, to demonstrate:

- All subheadings inserted by the XSLT (e.g. "History", "Physical Description", etc) are no longer indexed. This means, for example, doing a general search for _spanish history_ now returns [972 hits](http://medieval-qa.bodleian.ox.ac.uk/?utf8=%E2%9C%93&q=spanish+history) instead

[2017-12-19 12:37] andrew-morrison commented on #108
This change is now on the QA site. About 98% of the time it is an improvement (the [list of works beginning with T](http://medieval-qa.bodleian.ox.ac.uk/?f[alpha_title][]=T&f[type][]=work) is much better without all the ["the something" titles](https://medieval.bodleian.ox.ac.uk/?f%5Balpha_title%5D%5B%5D=T&f%5Btype%5D%5B%5D=work)) but there are a few counter examples. Mostly when a work begins wit

[2017-12-19 13:07] andrew-morrison commented on #109
I've fixed this, so for example [this work](http://medieval-qa.bodleian.ox.ac.uk/catalog/work_10145) is now [indexed with all four languages on QA](http://medieval-qa.bodleian.ox.ac.uk/?utf8=%E2%9C%93&f%5Btype%5D%5B%5D=work&q=%22Alchemical+recipes+and+notes%22), as opposed to [just the mainLang on production](https://medieval.bodleian.ox.ac.uk/?utf8=%E2%9C%93&f%5Btype%5D%5B%5D=work&q=%22Alchemical

[2017-12-19 13:07] #109 closed

[2017-12-19 13:36] holfordm commented on #110
I think I will need to get back to you about this properly in the New Year. Initial thoughts:
1. it is definitely silly to index the headings that apply to every manuscript, more or less, i.e. contents, language, physical description, form, history [and so on]
2. it is probably _not_ silly to index headings that don't apply to every manuscript _and_ which can't be filtered for or searched in other

[2017-12-19 14:28] andrew-morrison commented on #110
OK. I'll deactivate this change for now. Here are all the subheadings, by number of occurrences, in HTML which I've just generated from the latest TEI XML:

  12525 Physical Description
  11715 Contents
  11654 History
   9188 Record Sources
   4654 Decoration
   3161 Bibliography
   3079 Online resources:   (This comes from the TEI, not inserted by XSLT)
   1071 Layout
    843 Provenance and Acqu

[2017-12-19 14:40] holfordm commented on #108
This may get a bit complicated, but:
- if `<title type="uniform">` contains a colon `:`, then everything before the colon should be the author's name
- therefore, if the title contains a colon, don't apply the rule to ignore stopwords?
- assuming that it is most helpful to index authored works by author's name rather than by title (could they be indexed by both?)

[2017-12-19 15:13] andrew-morrison commented on #108
I've made the change you suggest - uniform titles containing colons go back to the old method of alphabetizing, without checking for stop words first - and that results in the following works reverting back to being assigned to the following letters:

[code]

The last one is obviously wrong, but I think this is good enough, for now.

[2017-12-21 16:35] andrew-morrison commented on #110
I've also implemented a method for cataloguers to prevent indexing. But it should be considered an experimental feature, and only used in special cases. You can surround a piece of text like this...

`This will be indexed. <?noindex?>This won't be indexed.<?noindex?> This will be indexed. `

...and it will all be displayed (if it's in a TEI element which the XSL has been set up to transform into H

[2017-12-21 16:38] #108 closed

[2018-01-16 17:40] andrew-morrison opened #111 "Angle brackets being converted into HTML tags"
## Detailed Description
When angle brackets are used, presumably as part of some cataloguing notation, they are (correctly) escaped using the XML standard `&lt;` and `&gt;` entity references.

- These survive the transformation into HTML (the parser will have converted them to UTF-8 before the XSLT is applied, and converted them back on output)
- When the XQuery pulls in the HTML and serializes it

[2018-01-16 20:33] holfordm commented on #111
Thanks for flagging this. It relates to an older issue that we thought we had fixed https://github.com/bodleian/medieval-mss/issues/27 . This remaining problem relates to small number of MSS where angle brackets need to be replaced with `<supplied>`, which will then generate square brackets instead.

However, it would be nice to have the ability to render `<supplied>` with angle brackets instead o

[2018-01-16 20:34] ahankinson commented on #111
If it's just a rendering problem this could probably be handled with CSS for the 'supplied' tag.

[2018-01-16 20:38] holfordm opened #112 "class="small-caps" not displaying as small caps"
## Detailed Description

## Link to Page
https://medieval.bodleian.ox.ac.uk/catalog/manuscript_2015 - see 'solventi' in the incipit for the Preface.

## Possible Implementation
Presumably a simple CSS fix

[2018-01-16 20:40] holfordm commented on #111
Note for @holfordm
Offending MSS:
Bywater 2
Christ Church 91, 92, 95, 103, 107, 110, 115, 121, 122, 342, 343, 378
Holkham Gr 2

[2018-01-16 20:46] holfordm opened #113 "MS Bywater 2 has incomplete source details"
## Link to Page
https://medieval.bodleian.ox.ac.uk/catalog/manuscript_2015

## Possible Implementation
Data fix

[2018-01-17 09:42] holfordm opened #114 "unwanted whitespace after `<ex>'"
## Detailed Description
The `<ex>` tag is transformed to generate ( ) around the content of the tag, but the final ) is followed by whitespace which causes problems when (as often) the tag is in the middle of a  word and the word is broken into two sections.

## Link to Page
For example:
MS. Holkham Gr. 1: https://medieval.bodleian.ox.ac.uk/catalog/manuscript_6116 : Contents, line 4 the TEI has `Δ

[2018-01-17 09:42] holfordm commented on #111
@IgnatG  Let me try and fix the data (I'll do it on Friday and it shouldn't take long) and I'll get back to you if there are any further problems.

[2018-01-17 09:57] IgnatG commented on #114
It looks like it's coming from HTML - <span class="ex">(ὸ) </span> . It's not very visible in here but there is a space in there after the round-closing bracket. Can you check this @andrew-morrison ?

[2018-01-17 10:37] andrew-morrison commented on #114
The space is added into the HTML by the XSL. It looks like it was set up that way for `expan` TEI elements, then `ex` were added to the same template. But the two seems to have been used in Medieval in the same contexts, so neither should be followed by a space.

@holfordm: I don't have time to test this, so could you review the next time you reindex the QA site?

[2018-01-17 10:42] holfordm commented on #114
That makes sense - in strict TEI `<expan>` is for whole words (so makes sense to have a space after) and `<ex>` is for parts of words. But I think both are used in the Medieval catalogue for parts of words only. Ideally therefore I should fix the data and we should have different templates for each element, but that can wait.
@andrew-morrison  I should be able to check the indexing on Friday and w

[2018-01-17 10:49] andrew-morrison commented on #111
There seem to be a few issues here:

- Data cleanup converting `&lt;s&gt;` into `<supplied>s</supplied>` to be done by @holfordm
- The transformation of those into `[s]` isn't ideal. Can either be fixed by CSS to display as `<s>` or by XSL to display as `⟨s⟩`
- General problem (with Blacklight?) which could affect other contexts for using greater-than and less-than symbols.

[2018-01-17 11:06] holfordm commented on #111
"The transformation of those into [s] isn't ideal. Can either be fixed by CSS to display as <s> or by XSL to display as ⟨s⟩" . I would prefer to do this in the XSL - I think it will be more reproducible for other projects. I am happy with mathematical angle brackets, but does @eifionjones have any thoughts from the Fihrist perspective?

[2018-01-17 11:09] eifionjones commented on #111
Yep, mathematical angle brackets sound like a good solution to me

[2018-01-17 12:21] andrew-morrison commented on #111
Done.

BTW, you might want to look at when `sic` and `choice` are used inside a `choice`. The XSL inserts square brackets for those, and also puts spaces in the wrong places (e.g. https://medieval.bodleian.ox.ac.uk/catalog/manuscript_6230#MS_Holkham_misc_17-item8-item3)

[2018-01-23 12:30] holfordm opened #115 ""{character + macron}" should be normalized for search"
## Detailed Description
Currently we have some characters with macrons, mostly in transliterations from Greek; e.g. http://medieval-qa.bodleian.ox.ac.uk/catalog/person_106872042 = Morezēnos, Iōannēs -1613
A search for "Morezenos" does not return this (although it does return http://medieval-qa.bodleian.ox.ac.uk/catalog/person_2704 whose name was entered without macrons. A search for "e" should mat

[2018-01-23 14:52] andrew-morrison commented on #115
[Here is a list](https://github.com/bodleian/medieval-mss/files/1656389/non_ascii_chars_in_medieval_20180123.pdf) of non-ascii characters in Medieval's TEI files as of today.

[2018-01-23 16:11] holfordm opened #116 "convert2HTML: improve template rule for `<add>`"
## Detailed Description
The `<add>` element should generate appropriate symbols around the enclosed text. At some stage different symbols might be appropriate depending on the attribute for the element. For now, we might just use '`\`' before and '/' after. Thus `<add>a</add> Barbaris` > `\a/ Barbaris`

## Link to Page
http://medieval-qa.bodleian.ox.ac.uk/catalog/manuscript_2015

## Context
Should

[2018-01-23 16:23] andrew-morrison commented on #116
What about the `del` element marking deletion?

E.g. the word "bookes" on this page: http://medieval-qa.bodleian.ox.ac.uk/catalog/manuscript_3917

[2018-01-23 20:10] holfordm commented on #113
fixed via https://github.com/bodleian/medieval-mss/commit/726355df5187047a3128c5ed6e74bf3ae9032164

[2018-01-23 20:10] #113 closed

[2018-01-23 20:28] holfordm commented on #111
Data fixed via https://github.com/bodleian/medieval-mss/commit/726355df5187047a3128c5ed6e74bf3ae9032164
@andrew-morrison if you have a chance to reindex qa and prd in the next few days that would be much appreciated (I'm away from the office until next Monday)
I'll open a separate issue for sic and choice

[2018-01-23 20:28] #111 closed

[2018-01-23 20:29] holfordm opened #117 "check behaviour of `<sic>`"
## Detailed Description
@andrew-morrison  previously commented:
you might want to look at when sic and choice are used inside a choice. The XSL inserts square brackets for those, and also puts spaces in the wrong places (e.g. https://medieval.bodleian.ox.ac.uk/catalog/manuscript_6230#MS_Holkham_misc_17-item8-item3)

## Link to Page

## Context

## Possible Implementation

[2018-01-24 10:36] holfordm commented on #116
Good point. Can we use strikethrough for `del`?
For `add` I suggest:
no `@place`: \        /
`@place="above"` : ^ ^
`@place="margin"`: \    / (i.e., same as no `@place`, but we should have separate rules to make it easier to modify later if necessary)

[2018-01-24 12:03] andrew-morrison commented on #116
@holfordm: I'll set up `add` as you suggest.

@IgnatG : `del` TEI elements are already transformed into `<span class="del">...</span>`. So some CSS could add the strike-through style that Matthew recommends (and every other catalogue will want the same). Or are `<strike>`, `<s>` or `<del>` tags now legitimate semantic elements in HTML 5 (if that's what we're conforming to)?

[2018-01-24 12:53] andrew-morrison opened #118 "Solr failing to reindex because DocValuesField must be <= 32766"
As reported by @holfordm:

[2018-01-24 12:58] ahankinson commented on #118
That's usually caused by trying to index a field that does not exist, or does not follow the pattern for dynamic fields.

[2018-01-24 12:59] ahankinson commented on #118
Oh, disregard my previous comment -- I see more info in the title now.

[2018-01-24 13:00] andrew-morrison commented on #118
Checking the Solr logs, the cause was one of the manuscripts going over the 32766 limit (I think bytes rather than chars) due to lots of new notes (filled with Greek multi-byte characters).

Those were concatenated into one long ms_textcontent_smni index field. But the same content is also indexed in the ms_textcontent_tni field, which doesn't have that limit.

Testing on QA suggests the only diff

[2018-01-24 13:01] ahankinson commented on #118
There is a field in the Solr configuration especially for this purpose, `*_tni`. It's a non-indexed text field that is automatically copied to the fulltext index.

[2018-01-24 13:02] ahankinson commented on #118
Ah, so the `_smni` field can be removed and all is well.

[2018-01-24 13:06] #118 closed

[2018-01-25 17:23] andrew-morrison opened #119 "Accompanying Material"
## Detailed Description
Just stumbled across this, not sure of the details, but it seems the XSL for generating the HTML view of manuscripts has not been set up to handle `msDesc` elements inside `accMat` elements. It outputs HTML, probably mostly correctly, but it does it twice. The same content is repeated.

## Link to Page
Only seems to affect two Medieval manuscripts:

- https://medieval.bodle

[2018-01-26 10:59] andrew-morrison commented on #119
Repetition fixed, and updated on QA, but presumably some layout changes are needed (e.g. the "Accompanying Material" heading made much bigger, perhaps put the entire thing in a box?)

Assigning to @holfordm to review.

[2018-01-26 11:36] IgnatG commented on #112
done

[2018-01-26 11:36] #112 closed

[2018-01-26 11:41] holfordm commented on #119
Thanks - will do. It may better to reorganize the entries using msPart instead of accMat - I'll let you know.

[2018-01-26 11:43] holfordm commented on #114
This seems to be fixed

[2018-01-26 11:43] #114 closed

[2018-01-26 11:43] IgnatG commented on #116
@andrew-morrison have a look at this: https://www.w3schools.com/tags/tag_strike.asp . <strike> is not html5 supported. So we could use <s> or <del> apparently. Otherwise I can style them in CSS

[2018-01-26 11:44] holfordm commented on #104
Seems ok to close this now

[2018-01-26 11:44] #104 closed

[2018-01-26 11:48] holfordm commented on #116
@IgnatG - another question, is strikethrough text OK from a legibility / accessibility point of view or would it be better to indicate deletion in another way?

[2018-01-26 12:04] IgnatG commented on #116
uuu... this is a weird one for screen readers as they don't support it. There are "hacks" around it... but no concrete solution in place

[2018-01-26 18:09] andrew-morrison commented on #116
Whatever the current lack of support by screen readers for `<s>` or `<del>` HTML tags, there is at least they could be supported in the future. The non-semantic `<span class="del">` used currently will never be anything more than a way to apply styles.

As for legibility, I guess strikeout is OK for a single word or short phrase, but it makes reading entire sentences a bit of a pain.

For now, I'v

[2018-02-07 13:03] holfordm commented on #22
Can we pick this up again in conjunction with the other catalogues? (I know that Fihrist at least were keen to have these links).
- is the master / develop branch idea feasible? (I suspect not unfortunately)
- probably the lag between live version and git version won't be significant as the catalogues will be reindexed fairly regularly (?) - but the potential lag should still be signalled
 - what

[2018-02-09 11:31] andrew-morrison commented on #117
Another question about your use of the `sic` element: When it is on it's own, as a self-closing tag, what should be displayed? For example:

[code]

At the moment, [nothing is displayed](https://medieval.bodleian.ox.ac.uk/catalog/manuscript_3933#Christ_Church_MS_150-item8), because the XSL creates an empty span:

[code]
I'm removing those, because empty HTML elements confuse web browsers, and are

[2018-02-09 11:53] holfordm commented on #117
The desired behaviour here is that the empty element should generate the text '[sic]', in the same style as in generated for other sics (`[<span class="italic">sic</span>]`)
I've used the empty element in cases where it wasn't clear exactly what the 'sic' referred to.
________________________________
From: andrew-morrison <notifications@github.com>
Sent: 09 February 2018 11:31
To: bodleian/medieva

[2018-02-09 12:32] andrew-morrison commented on #117
I've implemented that and updated the QA site. [Here's the same example](http://medieval-qa.bodleian.ox.ac.uk/catalog/manuscript_3933#Christ_Church_MS_150-item8) now displaying, hopefully correctly.

[2018-02-09 17:26] andrew-morrison commented on #22
In retrospect, I think my point about the TEI XML on GitHub being possibly ahead of what's indexed and displayed on the catalogue web sites, by a few days or possibly weeks, isn't worth worrying about. Probably not for individual manuscripts. Releases might be worth considering for the benefit of people downloading the whole collection, to run some analysis or text-mining, so they'd have a copy th

[2018-02-09 17:34] andrew-morrison commented on #22
What is holding this up adding a link to view the source is the need to schedule and prioritize the design work that would presumably be needed to add a TEI logo, and incorporate [the other stuff requested](https://github.com/bodleian/medieval-mss/issues/22#issuecomment-338589296) in some kind of footer. Just adding an `<a href="https://github.com/blah">View source</a>` link could be done immediat

[2018-02-12 09:53] andrew-morrison commented on #110
Fihrist has a lot of works with titles like "History of the ...", so it would be good to activate this enhancement to prevent matching every manuscript for any query containing the word history.

@holfordm: Could you take another look at the lists of headings and labels in one of my comments above? Would blocking the indexing of all those with more than 5000 occurrences be reasonable?

[2018-02-12 12:45] ahankinson commented on #110
I find the creation of a custom processing instruction to be a leak between catalogue and implementation. Inserting values `<?noindex?>` into the XML seems to mix processing and data in a way that I would like to try and avoid, if possible. It also puts an extra burden on the cataloguer to implement.

Two possible alternate solutions, in order of ease of implementation:

1. Add the headings to the

[2018-02-12 13:42] andrew-morrison commented on #110
Using stopwords would prevent any matches for the word "History". We don't want that, just to prevent any query that includes that word from being swapped by every manuscript being matched.

The processing instructions inserted by the XSL cause the XQuery to skip over it. Those aren't included in the XML stored in GitHub, just in the HTML. But you are right that additionally giving cataloguers the

[2018-02-12 16:21] #103 closed

[2018-02-12 16:22] holfordm commented on #22
-For the moment, then, shall we go with a plain link `<a href="https://github.com/blah">View source XML on GitHub</a>`? The TEI logo doesn't strike me as essential. We do need a licence statement, but AFAIK the library hasn't approved this yet, so it will need to be added later.
-Citation info: do we need the date of access to be added (which would require gabriel's time?) or could we do something

[2018-02-12 16:27] holfordm opened #120 "implement releases"
## Detailed Description
As suggested by @andrew-morrison in https://github.com/bodleian/medieval-mss/issues/22

## Possible Implementation
- add relevant text to About page, linking to https://github.com/bodleian/medieval-mss/releases
- tag the relevant commits https://git-scm.com/book/en/v2/Git-Basics-Tagging
- create a changelog? (where?)

[2018-02-13 11:19] andrew-morrison commented on #120
You can create releases on GitHub via a form:

https://github.com/bodleian/medieval-mss/releases/new

I assume anything you enter in the "Describe this release" box would be displayed somewhere on GitHub, effectively creating a changelog page.

[2018-02-13 11:28] andrew-morrison commented on #22
I'll implement a simple view-source link in Fihrist, then let you know so you take a look at it. Possibly the Zotero bibliography could be moved with CSS, but that would be a job for Gabriel.

[2018-02-16 16:52] holfordm opened #121 "Lat misc b 12 art 20"
Correct the entry for this work, which is no longer attributed to Clarius, and the relevant entry in works.xml

cf. http://www.persee.fr/doc/bec_0373-6237_1982_num_140_2_450272_t1_0260_0000_7

[2018-02-20 14:43] holfordm commented on #22
Is there a way of capturing the hash and date of the latest Git commit during the indexing process (either by asking for it in the terminal or fetching it from GitHub with the XQuery?)
Could that information then be used to ensure that links to the source XML did in fact point to the correct version? And additionally to generate a citation reference that included the hash of the relevant commit an

[2018-02-23 15:48] holfordm opened #122 "full text search issue?"
## Detailed Description
These may be isolated cases, but while checking data issues thrown up by the solr logs, I noticed that a keyword search for "Corbie" fails to return MS. Canon. Pat. Lat. 112 (http://medieval-qa.bodleian.ox.ac.uk/catalog/manuscript_3682) where that place occurs. A search for "Chelles" does not return MSS. Douce 176 or Douce f. 1, in both of which the placename occurs. {Note

[2018-02-26 15:39] #110 closed

[2018-03-07 11:24] andrew-morrison opened #123 "Add summaries under each manuscript in search results"
@holfordm requested the following in a comment on bodleian/fihrist-mss#44:

[2018-03-09 10:15] holfordm opened #124 "Improve error logging in indexing scripts"
## Detailed Description
Currently the indexing process notes all `<persName>` without `@key`, throwing up a lot of errors in the log, but this includes the persons in `<respStmt>`, who don't have keys.

## Possible Implementation
Restrict logging of `<persName>` without `@key` to descendants of `<msDesc>` to give a better picture of errors that need fixing.

[2018-03-13 15:12] holfordm opened #125 "empty author elements cause display problems"
surplus commas, as here, item 10
http://medieval-qa.bodleian.ox.ac.uk/catalog/manuscript_940

## Possible Implementation
remove the empty elements as they should no longer be necessary now that the works are indexed

[2018-03-13 15:52] andrew-morrison commented on #125
FYI, There are 170 self-closing `author` or `persName` elements with keys in Medieval. There are 26 in Fihrist. None in any other catalogues.

I could easily change the XSL to not insert commas when the `author` element is self-closing.

[2018-03-13 16:55] andrew-morrison commented on #125
I guess it depends whether these self-closing elements are a mistake or intended to make explicit the relationship between the `msItem` and the `author` (which might be inferred from their being children of a parent `msItem` with the same author.)

If it is the former, then Oxygen's find/replace in files would be even quicker:

![image](https://user-images.githubusercontent.com/33721187/37356961-1

[2018-03-14 10:15] #125 closed

[2018-03-19 11:26] holfordm commented on #106
Adding a reminder that this needs a CSS fix from @IgnatG

[2018-03-19 11:28] holfordm commented on #99
@IgnatG is there any chance you would be able to look at this in the reasonably near future - otherwise could it be reassigned? I think it will just be a question of changing the Zotero URL to the new style as above.

[2018-03-19 11:29] IgnatG commented on #99
I'll look at it this week - finally got some "time off" from other projects

[2018-03-19 11:30] IgnatG commented on #106
Oups - I'm on the case!

[2018-03-19 11:31] IgnatG opened #126 "Add favicon"
Favicon - similar to Genizah/Fihrist

[2018-03-19 11:34] holfordm commented on #34
@andrew-morrison could you have a look at this when you have time? (which I realize may not be for a while!)

[2018-03-19 11:37] holfordm opened #127 "works should be links in HTML"
## Detailed Description
As with persons and places at the moment, work titles with `@key` should generate a link to the works index.

## Link to Page

## Context
The advantage of this for cataloguers and users is that it allows information about editions, bibliography etc. to be stored in the central authority file and not duplicated across several records. For that reason, though, it's not worth

[2018-03-19 12:16] IgnatG commented on #106
//fixed

[2018-03-19 12:16] #106 closed

[2018-03-19 12:19] IgnatG commented on #126
//done

[2018-03-19 12:19] #126 closed

[2018-03-19 12:33] IgnatG commented on #99
//done.
@andrew-morrison can you update QA, please?
@holfordm after the update, can you test it for me please? I've tested on few pages and it looked ok.  Let me know if it's problematic. Otherwise you can close it.

[2018-03-19 13:17] andrew-morrison commented on #99
Deploy to Medieval QA web site done.

[2018-03-19 13:38] holfordm commented on #99
Thanks both. I've tested it on [MS. Junius 11](http://medieval-qa.bodleian.ox.ac.uk/catalog/manuscript_6318), which has 122 items of bibliography, and it works perfectly: you can now page correctly through results, and also sort results by author, title or date.

[2018-03-19 13:38] #99 closed

[2018-03-19 13:47] ahankinson opened #128 "Link Colours"
The colours for links to external services are the same as the surrounding text. This makes it difficult to know if you can click on something without first hovering over it.

## Link to Page

http://medieval-qa.bodleian.ox.ac.uk/catalog/manuscript_6318

In this example, the links to Digital Bodleian and MLGB3 should be coloured the same blue as the other links. Currently it is black.

[2018-03-19 13:50] IgnatG commented on #128
That's a formatting issue - the `a` tag contains a `span `in it with the text. There is no need for a span tag.
I can colour it with blue as an anchor but ideal would be to take the span out

[2018-03-19 15:46] ahankinson commented on #128
OK --- I will assign @andrew-morrison to handle this.

[2018-03-19 16:22] andrew-morrison commented on #128
The HTML `span` is inside the `a` element because there is a TEI `title` element inside the `ref` element. The span has a class of "italic". In this case it is a bit redundant, but I could easily imagine another case where the link contains both a title and something else which shouldn't be displayed in italic, so in that case it would be useful. Writing XSL to cover all conceivable scenarios woul

[2018-03-19 16:25] ahankinson commented on #128
Then this is a problem with the TEI?

[2018-03-19 16:39] andrew-morrison commented on #128
No, the TEI is perfectly valid.

I believe the quickest fix would be to remove `color: #0D0D0D;` from the `.italic` definition in app/assets/stylesheets/design/_individual_item.scss.

[2018-03-19 17:27] holfordm commented on #128
Here is an example where only some content in the `bibl` element should be displayed in italic, as @andrew-morrison suggested
http://medieval-qa.bodleian.ox.ac.uk/catalog/manuscript_4518

[2018-03-19 17:50] andrew-morrison commented on #128
Similarly complex bibliographic references - containing mixtures of titles, authors, dates, etc - can and do exist in other TEI catalogues too.

[2018-03-20 11:02] IgnatG opened #129 "Format HTML - part 2"
I keep having to go back and forth to add styles for different tags - especially if new ones are added in. It would be better if we fix some of these tags directly in HTML. This would save time on my end but also would avoid confusions. Also, if someone is using the page and can't load the CSS file (for whatever reason), then the HTML should be able to take over and still display the content in a

[2018-03-20 11:02] andrew-morrison commented on #127
I've noticed works.xml in medieval-mss contains `note` elements of type "shelfmark" in each `bibl`. Do those accurately reflect the manuscripts in which each work is found, and do you plan to continue to maintain them? If so, I could only create a link in the HTML for works which contain multiple of those notes (and/or other information, such as editions.)

[2018-03-20 11:03] IgnatG commented on #128
I can't remember why I had to add the `color: #0D0D0D;` part but it must have been a good reason. Anyway... I'll fix it. But before I do that, I'll need the HTML to be formatted appropriately. After that I'll Add default font sizes and colours to the whole page.
See #129

[2018-03-20 11:06] IgnatG commented on #129
There may be other tags but I can't go through each page to check them. These were the important ones from what I've noticed.

[2018-03-20 12:08] andrew-morrison commented on #34
It would help if you could list all the the subfields potentially found in each record which you'd like to have displayed.

Here's what's currently in each (element names only so if they also have attributes that would determine whether or not to display something, please add those):

persons.xml
[code]
works.xml
[code]
places.xml:
[code]
What @ahankinson said about links still applies - only thos

[2018-03-20 17:06] andrew-morrison opened #130 "Rend attributes"
The following `@rend` values currently exist in the Medieval TEI:

[code]
Most are in `hi` elements, except the roman ones which are found in `@rend` attributes of other elements, such as `title` or `rubric`. And some of the italic ones apply to `foreign` elements.

Not all are currently displaying the way the `@rend` specifies. Should they be? Or are some of them legacies of older versions of the

[2018-03-20 17:13] andrew-morrison commented on #129
The problem with this are the ones that come from `@rend` attributes. That's a [mechanism TEI provides for the cataloguer](http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-att.global.rendition.html#tei_att.rend) to specify styles. I've opened another issue (#130) about what to do with those.

[2018-03-21 12:56] andrew-morrison commented on #123
I've put a draft implementation of this on the Medieval QA site.

This is the logic:

- If there are `msPart` elements, just describe it as a "Composite manuscript".
- Otherwise, if there is an `msDesc/head`, use the text of that.
- Otherwise, if there is an `msContents/summary`, use that.
- Otherwise, if there are authors, list the first two of those, appending ", etc." if more than two.
- Otherw

[2018-03-21 16:44] IgnatG commented on #128
this has been fixed now

[2018-03-21 16:44] #128 closed

[2018-03-22 09:40] holfordm commented on #123
I have passed this on to Martin Kauffmann for his comments. Personally, I think it look excellent and am keen to implement it! Watch this space...

[2018-03-22 10:06] holfordm commented on #130
`hi @rend="strikethrough"` has now been changed to `del`.
`@rend=16` was an error (the element should have been and has been changed to `ruledLines`)
The other formatting attributes are still intended to do what they say. I should standardize the variants of smallcaps and superscript -- do you have any recommendation for any particular form?
More broadly, is this a general TEI catalogue issue - an

[2018-03-22 10:26] andrew-morrison commented on #130
I don't mind the form of the rend keywords, as long as they are clear and consistent (for example, is "su" short for superpscript or subscript?

[2018-03-22 10:36] holfordm commented on #130
- changed "su", "sup", "super" to "superscript"
- changed "small-caps" to "smallcaps"

[2018-03-22 14:01] holfordm commented on #123
- Martin agrees that this should be implemented.
- If it is easy to change, we don't think we need the "Contents: " label
- One additional step in the logic, which I should have mentioned before, is that if a composite manuscript has a `head`, this should be used as the summary
- I think it should be kept in the indexing script. Several of the descriptions are already very summary and it will look

[2018-03-24 18:05] ahankinson opened #131 "Record for MS. Add. C. 87*"
There is a record for MS Add. C. 87, but part of it has been rebound as MS. Add C. 87*, which does not have a catalogue record.

See: https://www.diamm.ac.uk/sources/484/

[2018-03-24 19:25] holfordm commented on #131
This is already updated on QA - I spotted it the other day when going through DIAMM to add links from our records http://medieval-qa.bodleian.ox.ac.uk/catalog/manuscript_10008

[2018-03-24 19:25] #131 closed

[2018-03-24 19:27] ahankinson commented on #131
Ha. I've just been going through DIAMM, adding links to the Medieval Catalogue. 😄

[2018-03-26 10:44] holfordm commented on #123
* I don't see a problem with implementing now, but could I request a couple of tweaks?
1. the `head` element should already include origin information (in my usage it is different from `summary` which only includes content information); so if there is a `head` it shouldn't be necessary to add any information from `origin`. Sorry for not making that clear before.
2. is it possible to not display `.

[2018-03-26 10:48] holfordm commented on #99
closed prematurely (sorry) - reopening as a reminder that this needs to be pushed to prd

[2018-03-26 11:23] andrew-morrison opened #132 ""See also" links on work/person/place pages"
@holfordm: This is something I've identified a need for in other catalogues, but it might be most useful in Medieval, so I'd like to get your opinion on it.

Because the local authority files are expressed in TEI, it is possible to make use of generic TEI attributes such as `@corresp` or `@sameAs`. These can easily be picked up by the indexer, to create "See also" links.

For example, the same wor

[2018-03-26 11:58] andrew-morrison commented on #123
I've made those changes and reindexed on QA.

I'll deploy the changes and reindex production at, say, 4pm today, unless I hear otherwise.

That'll also update the live site with a number of @IgnatG's recent changes, including #99.

[2018-03-26 12:18] holfordm commented on #132
This seems like a useful and valid approach to me. I can think of several medieval examples such as the different "decades" of Livy, books of the bible, etc etc.
Would you create a schematron rule to ensure that all the `@corresp` matched up?
Is it something that would be done manually or automated?
If it was done manually, it _might_ be worth thinking whether it would be worth classifying differe

[2018-03-26 13:48] andrew-morrison commented on #132
Adding the attributes would be a manual step. Oxygen helps, a bit, with an auto-complete drop-down, but there are so many entries in each authority file that that it is of limited assistance.

`listRelation` is more powerful and expressive, but much more complicated, both to implement and to explain to people. It is something you'd have to add alongside the entries, or at the end of the list, rath

[2018-03-26 15:19] andrew-morrison commented on #123
Deployed to production.

[2018-03-26 15:20] andrew-morrison commented on #99
Deployed to production.

[2018-03-26 15:37] andrew-morrison opened #133 "Duplicate manuscript xml:id"
Just noticed that there are two TEI files with the same `@xml:id` of "manuscript_9500":

- Christ_Church/Christ_Church_MS_688.xml
- Sparrow/MS_Sparrow_1.xml

Only the first one is displayed on the web site at https://medieval.bodleian.ox.ac.uk/catalog/manuscript_9500 because it happens to be the second one processed by the indexer, so it overwrites the first. I'm surprised Solr didn't throw an err

[2018-03-26 15:46] andrew-morrison commented on #127
I've noticed there are about a dozen `title` elements containing space-separated keys. For example:

[code]
Is that intended or a mistake?

[2018-03-26 15:50] holfordm commented on #133
fixed via 88c8f9daa313cf68eb1d2f58cb500eee928930a5
thanks for spotting this. I do an occasional check for duplicate ids but obviously missed this. If a check could be built into the indexing script, that would be very helpful.

[2018-03-26 15:53] holfordm commented on #127
Intended - the work entries are respectively for "psalter" and "new testament". If entries like these can be tokenized by whitespace, that would be great, otherwise I can change the data.

[2018-03-26 16:04] holfordm commented on #127
Of course - didn't think about the links. I'll fix the data: I have a list of the files in the SOLR log from work indexing.

[2018-03-26 16:27] andrew-morrison commented on #124
Similar changes can be made to the scripts for works, places and organizations too.

Also, as noted in #133, manuscripts.xquery could check for duplicate values in `/TEI/@xml:id`. It might add a few seconds, maybe half a minute on a slow machine. But it would be important for when multiple people could be creating new manuscripts descriptions at roughly the same time (as will be the case with Fihr

[2018-03-27 15:11] holfordm commented on #121
fixed via 3d0bf7a5b7b4b5cf8f9fb276becb66f5886da15e

[2018-03-27 15:11] #121 closed

[2018-03-27 15:23] andrew-morrison commented on #121
FYI, you can close issues by [including a reference to them in commit messages](https://help.github.com/articles/closing-issues-using-keywords/).

[2018-03-27 15:33] holfordm commented on #34
* persons.xml: display `<bibl>`, `<note>`. `<note>` without `@type` and `bibl`, display as text (there is some formatting of titles which will get lost here, which is a shame; is there any way to get `<title>` in these elements to render italic?).
`<note type="links">` should generate a list of links.

* works.xml: display `<bibl>`, `<note>`, but NOT `<note type="shelfmark">`.  `<note>` without `@

[2018-03-27 15:37] holfordm commented on #121
Good to know - thanks

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Andrew Morrison <notifications@github.com>
Sent: Tuesday, March 27, 2018 4:23:44 PM
To: bodleian/medieval-mss
Cc: holfordm; State change
Subject: Re: [bodleian/medieval-mss] Lat misc b 12 art 20 (#121)

FYI, you can close issues by including a reference to them in commit messages<https://h

[2018-03-29 14:05] holfordm commented on #131
Great minds...

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Andrew Hankinson <notifications@github.com>
Sent: Saturday, March 24, 2018 7:27:17 PM
To: bodleian/medieval-mss
Cc: holfordm; State change
Subject: Re: [bodleian/medieval-mss] Record for MS. Add. C. 87* (#131)

Ha. I've just been going through DIAMM, adding links to the Medieval Catalogue. 😄

—
Y

[2018-04-11 18:35] holfordm opened #136 "check bodl 717 origin"
check: seems to conflict with ref. to Hugh Pictor?

## Detailed Description

## Link to Page

## Context

## Possible Implementation

[2018-04-11 19:36] holfordm opened #137 "update x-refs in P&A refs"
In records like this
https://medieval.bodleian.ox.ac.uk/catalog/manuscript_32
the x-ref to other entries in P&A is unhelpful. The numbers should be replaced with shelfmarks / links.

Search for 'no.', 'nos.' in `<decoDesc>`

[2018-04-20 13:28] holfordm opened #140 "add links to Iter liturgicum italicum"
Consider adding links to this resources, which refers to a significant number of Bodleian manuscripts

http://liturgicum.irht.cnrs.fr/fr/

[2018-04-26 14:22] andrew-morrison opened #143 "What to do with new provenance information?"
Just opening an issue to discuss whether the new provenance information that the Mapping Manuscript Migrations project is going to add to the TEI files should be displayed or indexed differently. And if so, how?

Regarding display, they will be displayed as extra paragraphs under a heading of "Provenance and Acquisition". Should those be split into two separate headings?

Regarding indexing, they

[2018-04-26 14:40] andrew-morrison opened #144 "Display and indexing of msName elements"
Currently, nothing is done with `msName` elements (alternative names for manuscripts as a whole.) Probably because they only appear in eight out of 9000+ Medieval TEI files.

An example is "The Bekynton anthology" in [MS. Add. A. 44](https://medieval.bodleian.ox.ac.uk/catalog/manuscript_66).

Because they are in the `msIdentifier`, they appear at the top of the page. But the XSL has no template to

[2018-04-27 09:28] holfordm commented on #143
I am happy to leave the display as it is (i.e. with provenance and acquisition together).

Since the new information will include `@key` and `@role` for persons and organizations, the owners should appear in the person and place indexes and be filterable by role. I don't think we need to enhance the search in other ways.

At a later stage, as you suggest, we might want to use the att.datable attri

[2018-04-27 09:45] holfordm opened #145 "Indicating responsibility for complex records in catalogue display"
Some records in the catalogue combine information from several printed sources of varying dates. Collaboration with external projects is also likely to lead to information being added to the records from external sources (e.g. the Mapping Manuscript Migrations projects).
The responsibility for different elements of the description is expressed, in complex records, using the `@resp` attribute, whic

[2018-04-27 10:52] holfordm commented on #123
There is a minor problem with the way this is working, which is that, if one item with an author accompanies several items without authors, there is currently no "etc." to indicate the existence of the other items.
See http://medieval-qa.bodleian.ox.ac.uk/catalog/manuscript_3015 and its summary for an example.
Not an urgent problem, but it is is easy to fix, that would be great.

[2018-04-27 13:07] andrew-morrison commented on #123
Done. Here are the [summaries which will be changed](https://github.com/bodleian/medieval-mss/files/1955182/changed_summaries.txt) the next time you re-index.

[2018-04-27 13:56] holfordm opened #146 "Consider linking to Medieval francophone literary culture"
http://www.medievalfrancophone.ac.uk/list/

Information on about 20 Bodleian MSS.

[2018-04-27 14:06] holfordm commented on #136
fixed by 1e8a93074c0e9c86b945c8b2a885e8dd557e331a (info in authority record was incorrect)

[2018-04-27 14:06] #136 closed

[2018-04-30 14:57] andrew-morrison commented on #144
FYI, here is a list of all the named manuscripts, at least according to the presence of an `msName` element:
[code]

[2018-05-01 09:56] holfordm opened #147 "new filter: digitized manuscripts"
Add a filter for manuscripts that have been digitized, either at Digital.Bodleian or elsewhere.
If desirable, distinguished between full digitizations and partial digitizations (where only a section of the MS. has been reproduced). When LUNA images go into Digital.Bodleian, there will also need to be a category like "sample images only".

## Context
Useful to users wanting to know what they can se

[2018-05-01 10:32] andrew-morrison commented on #147
Sounds like a good idea and should be easy to implement.

But why would someone want to filter out (or narrow to) manuscripts that are only partially digitized? There's still a chance they will be able to see what they want to see, and there's no way for them to tell from just a label of "partial" while searching.

Currently there are 376 instances of `//surrogates//bibl/@subtype`, 4 of which are

[2018-05-01 10:58] ahankinson commented on #147
FYI, Luna is probably going to disappear this summer, and all content will be migrated to Digital Bodleian.

We're working on making sure the Luna URLs will resolve to the copies that will be in Digital Bodleian, but it's probably best to hold off making any new links to content in Luna.

[2018-05-01 17:25] holfordm commented on #147
No links to LUNA content planned until it migrates to D.B.

The full / partial thing is maybe not an issue now, but when the LUNA content goes in, I think people will definitely want to distinguish between a digitized ms where they can see the whole thing, and one where there are only a couple of images.

[2018-05-02 10:01] holfordm commented on #144
Good questions. There are several other "names" that haven't been given `msName`, e.g the Ormesby Psalter, the Douce apocalypse, and so on. In some of these cases (e.g. Ormesby Psalter) it's been included in the work title, so it is easy to find; not so with the Douce apocalypse though - and that probably is a famous name that should be findable if you don't know the shelfmark. I don't know how ma

[2018-05-02 10:04] holfordm opened #148 "speed up PRD indexing?"
## Detailed Description
Building the SOLR indexes and HTML is time consuming, at least on slower machines; it typically takes over an hour for me. If they have been built and tested for QA, is it necessary to rebuild them for PRD? Or could `index-all-prd` look for existing HTML / SOLR indexes (and/or logfiles, if there is a logfile confirming that everything has indexed OK), and ask in the termina

[2018-05-02 10:20] holfordm opened #149 "French / Anglo-Norman apocalypses?"
check if the text in MS. Fr. e. 22 should be grouped with the French apocalypses

[2018-05-02 10:28] ahankinson commented on #147
OK -- we're looking into adding that.

[2018-05-02 13:30] andrew-morrison commented on #144
OK. Let me know when you've made the data changes and I'll changing the indexing.

[2018-05-02 13:35] andrew-morrison commented on #148
I'm already working on this, because Fihrist takes even longer. It was taking two hours on a fast machine, but optimizing the XQuery scripts has reduced that to about an hour.

A quick win would be to parallel-process where as possible. The HTML needs to be generated before the manuscripts indexing can start, and (for Medieval only) places must be done before organizations. But people and works in

[2018-05-02 14:59] andrew-morrison commented on #148
FYI, I've just done an index to Medieval QA with a few optimizations to the XQuery and it took just under 9 minutes. But that's on my fast PC.

[2018-05-08 10:04] holfordm commented on #148
45 minutes for me, but that is still a distinct improvement

[2018-05-08 10:08] andrew-morrison commented on #148
Sorry, I should've made it clear, I haven't committed my changes to the scripts yet. I'm still working on that, and need to test that the output isn't affected. So any speed improvement is probably due to available memory on your machine.

[2018-05-08 10:28] andrew-morrison commented on #148
BTW, we have made a change to how the Solr server does fulltext indexing on the QA site. This has nothing to do with speed, but you might see differences in the results you get back.

Basically, now that we've moved on to some of the much, much smaller TEI catalogues, it has become noticeable that the way Solr was configured to identify individual words wasn't optimal. In Medieval, the large numbe

[2018-05-11 10:39] andrew-morrison opened #150 "Provenances that should be acquisitions?"
There seem to be quite a few Medieval TEI files in which the last `provenance` element in a `history` contains a description of how the manuscript entered the holding institution. Presumably they are from before the point when the use of `acquisition` was adopted?

You can find them using Oxygen's Find/Replace in Files tool, by searching for Bodleian, restricted to this XPath: `//provenance[not(fo

[2018-05-23 10:42] holfordm opened #151 "proofread MS. lat. th. d. 27"
There are a few typos, e.g. rubric of art. 20; spacing after `.` should be corrected, and descriptive titles should be labelled as such and not appear in italics.

[2018-05-25 11:39] holfordm opened #152 "document catalogue coverage?"
consider providing more information (in the wiki?) about the date and reliability of the printed catalogues that the online records are based on, and also about the level of detail currently providing by different records.

This is a bar chart showing what percentage of records includes provenance information, for example

![bodl-prov-info](https://user-images.githubusercontent.com/20242772/405424

[2018-05-28 09:13] #137 closed

[2018-05-28 09:13] #151 closed

[2018-06-04 08:57] andrew-morrison commented on #148
I've managed to get the processing time down from 7:20 to 1:40 on my fast PC. Approximately 1:30 of that is the time it takes to build the works index, with the rest running simultaneously. It needs a bit more testing, but I'll push the updates sometime this week.

[2018-06-04 15:09] holfordm commented on #148
Congratulations; this will make a real difference.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Andrew Morrison <notifications@github.com>
Sent: Monday, June 4, 2018 9:57:24 AM
To: bodleian/medieval-mss
Cc: holfordm; Author
Subject: Re: [bodleian/medieval-mss] speed up PRD indexing? (#148)

I've managed to get the processing time down from 7:20 to 1:40 on

[2018-06-04 15:58] andrew-morrison commented on #148
One questions about works: should the works index include entries with IDs which are only found in the key attributes of titles inside bibliographic references (which, are specifically blocked from being displayed, e.g. `bibl` with a type of "commentary")?

[2018-06-06 12:32] holfordm commented on #150
Yes. The explanation is that not all the records with provenance info. included info. about when Bodleian acquired the MSS.; so, everything had to go in `<provenance>`. These records should be fixed now, however.

[2018-06-06 16:02] holfordm commented on #148
For the moment, yes. Really most of these cross-references belong in the works index, but until they have been put there they should be indexed as they stand.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Andrew Morrison <notifications@github.com>
Sent: Monday, June 4, 2018 4:58:04 PM
To: bodleian/medieval-mss
Cc: holfordm; Author
Subject: Re: [bodleian/me

[2018-06-11 14:18] andrew-morrison commented on #122
I believe this has been fixed by some changes we recently made to the Solr configuration.

It became noticeable that the way it identified individual words while indexing was wrong while working on some of the smaller, much more sparsely-described catalogues. Those have fulltext indexes which barely makes it into the thousands of terms, so it is easier to spot problems. Medieval, in contrast, curr

[2018-06-11 14:18] #122 closed

[2018-06-11 14:21] andrew-morrison commented on #148
Sorry about the delay. I'll return to this on Wednesday.

[2018-06-18 11:19] andrew-morrison commented on #34
Now all `title` elements in `note` and `bibl` elements are italicized.

[2018-06-19 15:50] holfordm commented on #34
Thank you - this looks great. Regarding the order of material, I think manuscripts should come last, since if there are a lot of manuscripts, the other information is hidden (e.g. http://medieval-qa.bodleian.ox.ac.uk/catalog/person_66806872)

[2018-06-20 10:22] andrew-morrison commented on #34
How about this order:

1. Location (places/orgs only, if coordinates are recorded)
2. Notes (if any)
3. References (if any, maybe rename to Bibliography?)
4. External links (if any)
5. See also (if any)
6. Manuscripts (always at least one)

[2018-06-22 12:44] holfordm opened #154 "grouping of roles filter in persons index"
"donor" should be grouped with "owner or signer": > "owner, signer or donor"

"stationer" and "bookseller" should be grouped together: "stationer or bookseller"

[2018-06-22 13:06] andrew-morrison commented on #154
Now on QA.

[2018-06-22 13:07] #154 closed

[2018-06-22 13:10] andrew-morrison commented on #34
This order is on QA. There's still a few tweaks to the scripts I'm working on to help with #148. Let me know if you want to go live with this next week.

[2018-06-22 15:34] holfordm opened #155 "index altIdentifiers (?)"
I'm not sure to what extent these are being indexed at the moment, but a search for Rawl D 783 doesn't return any  results - that ms. is part of https://medieval.bodleian.ox.ac.uk/catalog/manuscript_8391, and it would be good for this and similar mss. if a search for the shelfmark of a part returned the 'parent' item

[2018-06-22 16:17] andrew-morrison commented on #155
`altIdentifier` elements are currently only being indexed if they have a type attribute of "internal". So, for manuscript_8391, it is indexing the summary catalogue numbers but not the shelfmarks for the parts, because those have no type attribute.

But I guess the only reason these are marked up using `altIdentifier` is because only one `idno` is allowed per `msIdentifier` by the TEI schema? If s

[2018-06-25 14:01] holfordm commented on #34
It strikes me that the external links can be a bit cryptic (e.g. if you don't know what VIAF is), and I should give them more meaningful labels (e.g. 'VIAF (Virtual International Authority File) authority record'). What would be the best way to do this? Changing the title field in the links themselves seems unnecessary and would add to the length of already long authority files. Can we supply the

[2018-06-25 14:09] andrew-morrison commented on #34
Here are the acronyms used in `ref/title` elements in the authority files:

BNF
CERL
DARE
DNB
GND
LC

[2018-06-26 09:34] andrew-morrison commented on #34
An alternative would be to use entity references. They're not fashionable these days, but this is precisely what they're intended to allow. For example, if you change persons.xml so it has this...
[code]
...between the last of the xml-models and the root TEI element, and search and replace `>VIAF<` with `>&viaf;<`, and `>LC<` with `>&loc;<`, then any XML parser will do the substitution as it loads

[2018-06-26 18:28] ahankinson commented on #34
It would probably be easier if you added xml:id to the category tags and the referenced them with has fragments. I'm not sure if you can do `class=#dnb` or not though.

[2018-06-27 11:03] andrew-morrison commented on #34
I think this might be getting more complicated than necessary. We want a solution that, if possible, works for everyone, without adding to the list of things we need to train maintainers of the other TEI catalogues to do.

It is only really an issue for the common acronyms. For example, ARLIMA was one I listed above, but it has actually only been used once.

Here are the common ones:

   3053 VIAF

[2018-06-27 11:14] holfordm commented on #34
OK, this makes sense. Any documentation I provide of the abbreviations in the TEI itself can be separate from the processing.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Andrew Morrison <notifications@github.com>
Sent: Wednesday, June 27, 2018 12:03:34 PM
To: bodleian/medieval-mss
Cc: holfordm; Author
Subject: Re: [bodleian

[2018-06-27 13:45] holfordm opened #156 "display and index former shelfmarks"
This issue arises particularly with the Merton manuscripts, where in addition to the modern number (MS. 1 etc.) there is an older number (A. 2. 1 etc.) which the college would like to be displayed and also to figure in search results. The old shelfmarks are marked up as follows:

<altIdentifier type="former">
                     <idno>A. 2. 1</idno>
                  </altIdentifier>

[2018-06-27 13:49] holfordm opened #157 "index variant titles in works"
It would be useful if variant titles (`title type='variant'`)in works.xml could be indexed. Most works don't have an extensive list of variants, but I'm adding them steadily, and variant titles are just as much a problem for discovery as variant name spellings!

[2018-06-27 13:57] andrew-morrison commented on #157
They will be soon. The new versions of the indexing scripts I've been working on in the "processing-overhaul" branch, to fix several existing issues, already do: everything that isn't of `@type` "uniform" (or "display" for people and places) will be indexed as a variant. They won't be displayed (and therefore Google won't pick up on them.) I just need to find time to finish off my changes.

[2018-06-27 14:04] andrew-morrison commented on #156
The lack of indexing is the same issue as #155.

The lack of display should be easy to fix. Do you want to displayed like [summary catalogue numbers](https://medieval.bodleian.ox.ac.uk/catalog/manuscript_48) but with a different label, e.g.:

?

[2018-06-28 10:34] holfordm commented on #156
Re display: that would be great.

I’m not sure that I’ve understand regarding the shelfmark indexing but we discuss it when we next meet in person perhaps.

________________________________
From: Andrew Morrison <notifications@github.com>
Sent: Wednesday, June 27, 2018 3:04:18 PM
To: bodleian/medieval-mss
Cc: holfordm; Author
Subject: Re: [bodleian/medieval-mss] display and index former shelfmarks

[2018-07-06 16:53] holfordm opened #158 "Ranking issue when search query includes a very common name"
A search for `john damascus` (no quotes) fails to return (at least on the first page of results) person_44435485, although that person's variants include 'St John, of Damascus' and 'John, of Damascus'

[2018-07-09 10:44] andrew-morrison commented on #158
The record person_44435485 is ranked about 250th in a search for `john damascus` (no quotes), even restricted to just the people index, on the web site.

The same query run on the Solr backend returns it 9th in a search across everything.

person_2176 ("John of Damascus, pseudo") comes top in both.

The pp_variant_sm field isn't tokenized, but it is then copied to the fulltext field which is. pers

[2018-07-09 11:59] holfordm opened #159 "dimensions may include depth"
We will be creating records from the recent catalogue of Wuerzburg manuscripts for an upcoming project, and these records include depth as well as height and width in measurements. (Sample record: http://medieval-qa.bodleian.ox.ac.uk/catalog/manuscript_7675).

The XSLT that generates the HTML should be adjusted to take account of `<depth>` if present: if present, to generate additional ×, and to p

[2018-07-09 12:59] andrew-morrison commented on #159
That shouldn't be difficult. I'll do it after I've finished the various indexing improvements I'm working on.

[2018-07-09 13:05] andrew-morrison commented on #158
Searching for `Damascus` returns just the two person records above, so the issue is the very common name `John`

[2018-07-10 11:23] andrew-morrison commented on #147
I've set this up on QA:

http://medieval-qa.bodleian.ox.ac.uk/?f%5Btype%5D%5B%5D=manuscript

Also manuscripts linked from works/persons/places/organizations pages get flagged if digitized, for example:

http://medieval-qa.bodleian.ox.ac.uk/catalog/work_4224
http://medieval-qa.bodleian.ox.ac.uk/catalog/org_8
http://medieval-qa.bodleian.ox.ac.uk/catalog/person_88956220

Alternatively I could list th

[2018-07-10 11:29] ahankinson commented on #147
"Viewable online" seems a bit misleading; Would 'Digital images' be better? Or 'Digital facsimile'?

[2018-07-10 14:46] andrew-morrison commented on #147
My thinking was "Viewable online" was less ambiguous than "Digitized", because something can be digitized but still only available in reading rooms (maybe not here, and not for manuscripts, but it still happens.)

[2018-07-10 14:53] ahankinson commented on #147
@holfordm do you have an opinion?

[2018-07-10 15:10] holfordm commented on #147
"Digital images online"? I'll ask Martin for his opinion as well.

[2018-07-10 15:22] andrew-morrison commented on #147
I've updated the QA site.

[2018-07-10 16:45] andrew-morrison commented on #148
I've been able to optimize the indexing scripts to run, on my machine, in roughly a third of the time.

The only way I have been able to replicate an indexing time over an hour, even on a slow machine with an old-fashioned spinning hard disc drive, is on an unreliable wifi connection. The Java networking library which the Saxon processor uses seem to hang for a very long time if it cannot retrieve

[2018-07-12 09:21] #159 closed

[2018-07-13 15:33] andrew-morrison commented on #158
I've adjusted the configuration on the the QA server so _Johannes, Damascenus_ comes [second in a people-only search](http://medieval-qa.bodleian.ox.ac.uk/?utf8=%E2%9C%93&f%5Btype%5D%5B%5D=person&q=john+damascus) and [eleventh in a search for anything](http://medieval-qa.bodleian.ox.ac.uk/?utf8=%E2%9C%93&q=john+damascus).

Two things were required to achieve this:

- Removing `:sort => 'index'` fr

[2018-07-14 13:28] ahankinson opened #161 ""Form: codex" for Gough map"
The Gough map record (https://medieval.bodleian.ox.ac.uk/catalog/manuscript_4912) has its form set to 'codex.' Is this correct?

[2018-07-17 08:45] holfordm opened #162 "MLGB3 record for Bodl. 364"
This record belongs with MS. Laud Misc. 364 (it is an error in MLGB3).

[2018-07-18 08:43] holfordm opened #163 "links to digital bodleian should open in a new window / tab"
## Detailed Description
Due to the way that Digital Bodleian redirects from the 'object' URL to the 'first page' URL (I think), it is difficult to navigate back from Digital Bodleian to the catalogue record. Also, we can probably assume that users will want to flip from DB to the catalogue, so having them in separate tabs by default ought to be most convenient.
@andrew-morrison  not sure if this i

[2018-07-18 08:44] holfordm opened #164 "links to external sites"
## Detailed Description

1. Should links to external sites be distinguished visually from internal ones, e.g. with an external link icon? (I don't know what best practice is here, if there is a consensus).
2. Should links to external sites open in a new window/ tab? (see also #163)

[2018-07-18 08:52] IgnatG commented on #164
1. It's the same for all links - no need for an external links icon. It's not necessarily a bad practice to add an icon next to it but it would overcomplicate things.
2. Yes, external links should open in new tab. But if it's something from the data, then it's for @andrew-morrison

[2018-07-18 08:53] #161 closed

[2018-07-18 08:53] #162 closed

[2018-07-18 09:06] #133 closed

[2018-07-18 09:10] holfordm opened #165 "should `revisionDesc` display?"
Adding information about significant changes to the record in `revisionDesc` seems a bit pointless if there is no way for users to see it.
Not everyone will be interested in that information, of course, so it's display should probably be optional ('click here to see the revision history of this description').
@eifionjones raised the point that no-one will (probably) want to know about the changes

[2018-07-18 09:14] andrew-morrison commented on #164
I've changed the XSL so that all external links in the manuscript description pages (not just ones to Digital Bodleian because of the back button issues noted #163) open in a new tab. This is on QA now but would be applied to production now if you did a re-index (it is not part of the improvements I've been working on in the processing-overhaul branch.)

However, because the mechanism is different

[2018-07-18 09:29] andrew-morrison commented on #165
It could be added, and a type attribute could determine whether to display of each change.

But if you want it to be revealed by clicking a button or link, that would require @IgnatG to develop some JavaScript/CSS, then tell me what HTML to enclose it in. For all the TEI catalogues.

I'm guessing this is fairly low priority, as all but a few `revisionDesc` contain only two things: a note of script

[2018-07-18 09:31] andrew-morrison commented on #163
Closing as a near-duplicate of #164

[2018-07-18 09:32] #163 closed

[2018-07-18 10:04] andrew-morrison commented on #164
I've changed QA so that, for example here:

http://medieval-qa.bodleian.ox.ac.uk/catalog/person_89167647

...the external links open in new tabs.

Click on the manuscript and it doesn't open in a new tab. Scroll to the bottom and click on the JONAS link and it opens in a new tab.

Digital Bodleian links open in new tabs but summary catalogue images don't (because they're hosted on the catalogue we

[2018-07-18 13:10] holfordm opened #166 "visual divisions between manuscript parts could be clearer"
In multipart manuscripts (e.g. https://medieval.bodleian.ox.ac.uk/catalog/manuscript_4820), divisions between the different parts are not very clear. It would be good to have, after `msPart`, a line, similar to that which now appears after `msItem`, or even a stronger visual signal.
I think this is also an issue in other catalogues with multipart manuscripts, e.g. Genizah

[2018-07-18 13:23] andrew-morrison commented on #166
Parts are converted into div elements of class "msPart" in the HTML, so presumably this could be achieved with CSS to give them a border-bottom, as is currently done for .msItem

This would indeed be good for other catalogues. Genizah is the other big one for multi-part manuscripts, but Hebrew and Fihrist also have some, and in the latter they use all kinds of labels for their parts (for example,

[2018-07-19 10:40] holfordm commented on #147
Martin and I have decided on "Digital fascimile online" for the moment.
This should change to "Digital images online" when  the LUNA images are imported into DB and referenced from the catalogue.
@holfordm should add something to the about or help page to explain exactly what the filter includes, cf. #101

[2018-07-19 10:42] ahankinson commented on #147
The LUNA migration is imminent (we're currently hoping for sometime in August). Is there a reason why the wording changes after the Luna migration?

[2018-07-19 11:13] holfordm commented on #147
The thinking was: "facsimile" implies images of a whole ms (or at least a whole section of a ms). "images" implies something broader. To have "images" without the LUNA images present and linked might be misleading (this was Martin's concern anyway)

[2018-07-19 12:37] ahankinson commented on #165
I'm not sure it's pointless to add the revision descriptions without displaying them. Once we get #22 in place, users will be able to see the data itself.

Also, all changes are already tracked by git, including when the change was made and who made it. Users can view the [change history](https://github.com/bodleian/medieval-mss/commits/master/collections/Christ_Church/Christ_Church_MS_90.xml) of

[2018-07-19 16:55] andrew-morrison commented on #79
I've implemented this on the QA site:

http://medieval-qa.bodleian.ox.ac.uk/catalog/person_84812388

It was also a request during the Fihrist training but I'm currently overhauling the indexing scripts for Medieval, which I'll then adapt for Fihrist and the rest. It is only with the more efficient XQuery developed for #148 that this is feasible.

If an author has only got one work then the link ta

[2018-07-23 14:54] andrew-morrison commented on #123
That's quite a lot of information to display in the links to manuscripts. And it comes in a lot of different formats (e.g. centuries, individual years, settlements, regions, nationalities, etc.)

Would tooltips be a reasonable compromise? I've implemented that on QA for people only. Take a look at [Gregory of Nyssa](http://medieval-qa.bodleian.ox.ac.uk/catalog/person_103646160) again and let me kn

[2018-07-23 15:18] ahankinson commented on #123
I don't think `@title` is a valid attribute on `<a>`.

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a

[2018-07-23 15:20] ahankinson commented on #123
Oh, nevermind.

https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/title

Still, it seems a strange place to put this information.

[2018-07-24 09:22] andrew-morrison commented on #123
Now displaying as an extra bit of text after the link (all wrapped up in a span tag as only single HTML elements can be passed back from the helper function to the _show_list_default.erb template.)

[2018-07-24 11:09] andrew-morrison commented on #123
Now also on work and place pages on QA.

[2018-07-24 11:11] andrew-morrison commented on #79
Works now link to authors on QA.

[2018-07-25 08:48] ahankinson opened #167 "Create a testing script for new commits"
A new script (possibly `test.sh` or `validate.sh`?) should be created that will get the latest changes from the repo and run a validator against these changes.

Files changed in the most recent commit can be discovered with the command:

`git diff-tree --no-commit-id --name-only -r HEAD`

This will give a list of paths. Only changes in the `collections/` subfolder should be used. These paths can t

[2018-07-25 13:08] ahankinson opened #168 "MSS Barocci 239a-b links to Digital Bodleian"
The links to Digital Bodleian in MSS Barocci 239a-b do not display correctly, and should probably be formatted into a list.

http://medieval-qa.bodleian.ox.ac.uk/catalog/manuscript_920

[2018-07-25 15:04] holfordm commented on #168
Digby 23 has the same problem, and there may be other examples.

The obvious solution is, in cases where `<surrogate>` contains more than one `<bibl>`, to wrap them in a `<listBibl>`, but at the moment that seems to cause problems with the display (at least, the Digital images field doesn't appear any more in the preview generated with previewmanuscript.xml).

Paging @andrew-morrison

[2018-07-25 16:03] andrew-morrison commented on #127
I've implement title links on QA (the changes are on the processing-overhaul branch so they will disappear if you re-index using the master branch.)

It does mean a lot more things are displayed in blue, which maybe makes it a little more difficult to distinguish authors from work titles in some cases. Most titles are differentiated by being italicized but not if they have a `@type` attribute. It

[2018-07-25 16:28] holfordm opened #169 "treatment of `quote` element in html"
This description
http://medieval-qa.bodleian.ox.ac.uk/catalog/manuscript_8834
= MS. Arch. Selden. A. 1
contains, in the provenance section, a `quote` element which is not being picked up correctly in the html conversion.
my intention was to render it as an indented paragraph, but perhaps this should be specified using a `@rend` attribute on the element? if so, what value?

[2018-07-26 13:09] holfordm opened #170 "bug in print stylesheet?"
When printing a record, the bottom of the first page contains the website footer (accessibility ... contact us) which can print on top of part of the record, making a small part of it illegible. Is this one for @IgnatG ?

[2018-07-26 13:11] IgnatG commented on #170
yup. I'll have a look

[2018-07-26 14:01] holfordm commented on #127
One possible way of distinguishing authors (`author`, `persName @role=author`) would be to render them in small capitals, this is quite a common convention in more recent medieval catalogues.

[2018-07-26 14:21] andrew-morrison commented on #127
So, like this mockup?

![authors-small-caps-mockup](https://user-images.githubusercontent.com/33721187/43267603-4f8902aa-90e6-11e8-8909-ffead06a7555.png)

If so, I'd need to give a class to the persNames with author roles before @IgnatG could do the CSS.

The italicization of titles was something spotted during the Fihrist event last week, so I'm moving that to medieval-mss's convert2HTML.xsl so I

[2018-07-27 09:50] andrew-morrison opened #171 "Review XSL templates for bibl and listBibl"
See comments in #168

[2018-07-27 09:52] andrew-morrison commented on #168
The handling of `bibl` and `listBibl` needs to be reviewed in the XSL. I've created a new issue for that.

Meanwhile, I've put in workaround for these surrogate links so if there is more than one they'll each display on a newline. It's in the consolidated-tei-schema repository so will work whatever branch of medieval-mss you are on.

[2018-07-27 09:53] #168 closed

[2018-07-27 10:19] andrew-morrison commented on #169
There are quotes which should be displayed in line (in other TEI catalogues) but I think it would be best to determine which style to use based on context rather than have specific `@rend` values.

So I have changed the XSL (in the consolidated-tei-schema repository) to transform `quote` to `blockquote` in HTML if it is a sibling of a `p` or `note`. Previously, it only did so if it was a direct ch

[2018-07-27 10:20] #169 closed

[2018-07-27 14:29] IgnatG commented on #166
//done-- it needs updating on QA

[2018-07-27 14:29] #166 closed

[2018-07-27 16:18] holfordm commented on #127
yes indeed, although i suppose for consistency we should include `role="translator"` in this class.

reminder to @holfordm to look into `@type` of `title`

[2018-07-27 16:21] holfordm commented on #79
I am waiting for feedback from Martin on this and #34.
Two queries:
- is there any sorting of works by title, if so how does it work?
- how are the links to works generated? I guess it is a collection of the works associated with an author in the manuscript files, linked to the relevant authority records. It would also be possible (and perhaps neater?) to generate it just from the works authority

[2018-07-30 10:55] andrew-morrison commented on #166
QA is now updated.

@holfordm: Take a look and let us know if you want a darker or thicker line between parts.

FYI, another small change I've recently made is to index the summaries displayed on the manuscripts search results. So on QA you can find examples by doing a search for "composite manuscript" and it'll list everything with an `msPart` that doesn't have an `msDesc/head`.

[2018-07-30 10:57] andrew-morrison commented on #170
QA is now updated. It seems to have worked, for me, in Firefox and Chrome. I'll push it to production with other changes soon.

@IgnatG: Are you going to apply this fix to the other TEI catalogues?

[2018-07-30 10:59] IgnatG commented on #170
Yup - I'll apply it to the others as well!

[2018-07-30 11:18] IgnatG commented on #170
//ready now

[2018-07-30 11:33] andrew-morrison commented on #170
I have updated the QA sites of all TEI catalogues (except Armenian and South Asian). Let me know when I can go ahead and push the same change to the production web sites.

[2018-07-30 12:10] andrew-morrison commented on #79
Sorting of works has been by ID (alphabetically, so work_1 and work_100 came before work_2 and then work_200) but I've recently figured out how to stop Blacklight doing that, and can now control the order of all such lists in the XQuery. So now they're sorted alphabetically by the link text (which is the `title` of `@type` "uniform" in the works.xml authority file).

The list is generated by combi

[2018-07-30 12:19] andrew-morrison commented on #127
Every `persName` with a `@role` now gets a `span` with a corresponding `@class` in the HTML on QA. All `author` elements get a class of "author". That will include authors in `bibl` elements.

So the next step is for @IgnatG to add CSS to make the following classes display in small caps:

.author
.translator

[2018-07-30 12:32] IgnatG commented on #127
//done - I've added small caps for .author and .translator. - it's on develop branch

[2018-07-30 13:45] andrew-morrison commented on #127
Now deployed to QA. Here are some examples:

http://medieval-qa.bodleian.ox.ac.uk/catalog/manuscript_9025
http://medieval-qa.bodleian.ox.ac.uk/catalog/manuscript_1083

[2018-08-01 08:18] IgnatG commented on #170
wait for my green-light. I want to update something else on it.

[2018-08-01 11:26] holfordm commented on #79
I think approach (b) just using the works files is preferable; it will miss a few things (but many of them are not true 'works' in any case), but it will avoid unexpected combinations, such as the co-occurence of Virgil and Pseudo Ovid in this record (http://medieval-qa.bodleian.ox.ac.uk/catalog/manuscript_3921), item 2, which turns Ps-Ovid into an author of the Georgics here (http://medieval-qa.b

[2018-08-01 15:05] andrew-morrison commented on #79
I've made that change.

Should people be likewise only included as an Author in the Roles filter if they're in the works.xml authority file? For example, [Corsini](http://medieval-qa.bodleian.ox.ac.uk/catalog/person_71827949) has no works listed despite being [included as an author in the role filter of the people search](http://medieval-qa.bodleian.ox.ac.uk/?f%5Broles_sm%5D%5B%5D=Author&f%5Btype%

[2018-08-01 15:10] holfordm opened #172 "health warnings on index pages"
Due to the nature of the catalogue, which contains a lot of summary records with incomplete descriptions, there is a case for providing warnings on the index pages for persons, works and places.
They might appear after any external links and might say something like "the following references reflect [the current coverage of the catalogue] and are unlikely to be comprehensive". The part in square b

[2018-08-01 15:33] IgnatG commented on #170
done now - I hope. It would require another update though. Start with QA first, please

[2018-08-01 16:14] andrew-morrison commented on #172
Inserting such messages in the middle of the list of fields would be technically difficult. More likely to be possible is a paragraph at the bottom, after all the links. Possibly in a form of a footnote as in this mockup:
![mockup_of_footnote_on_person_page](https://user-images.githubusercontent.com/33721187/43534024-3c689cae-95ae-11e8-9ca4-85137b4a91a0.png)

[2018-08-01 16:31] ahankinson commented on #172
I should rephrase: What level of comprehensiveness would our users expect? Is it better to provide this notice on person/place/work, or to have a note on the MS record that indicates the level at which the MS is described?

It just seems like we're being a bit oblique with our language here -- What is meant is 'Not all of our records are fully described, and as such this is not a comprehensive lis

[2018-08-01 16:35] andrew-morrison commented on #172
@holfordm can answer this better, but there are some examples in recent comments added to #79

[2018-08-01 16:58] holfordm commented on #172
The about page does, I think, already cover this question quite well, but my worry is that no-one reads the about page, and there may be an expectation from users that the page for Cicero's Orationes in C. Verrem for example (http://medieval-qa.bodleian.ox.ac.uk/catalog/work_1259) contains all known copies of that text in the Bodleian, which it doesn't, because some are hidden in the record for Ci

[2018-08-01 17:00] andrew-morrison commented on #170
All TEI catalogue QA sites now redeployed.

The result is fewer pages when printing, in a smaller and serif font.

Also anything which is a link has the href printed afterwards in brackets. That is useful for external links but for internal ones that is something like /catalog/person_1234, which makes reading a typical msItem pretty difficult:

with scholia by Maximus Confessor (/catalog/person_10

[2018-08-02 08:53] IgnatG commented on #170
I will leave this as a question for @holfordm:
a) Would you find useful to see where the links are pointing to when you print the page?

b) Or  Would you rather see the text only?

[2018-08-02 16:59] holfordm commented on #170
text only please!
If possible I would also prefer a larger font and for the headings (Physical Description, History etc.) to be larger.

[2018-08-03 08:58] IgnatG commented on #170
//done - re-open if needed

[2018-08-03 09:49] holfordm commented on #170
It's still not perfect -- the main headings (Contents, Physical Description, History etc.) are still too small, and in multi part manuscripts the heading for each part is also too small. Not urgent gripes, but worth checking if the other catalogues are happy with it, if not we should reopen.

[2018-08-03 09:51] IgnatG commented on #170
can I get some links to see them as examples, please?

[2018-08-03 14:44] holfordm commented on #79
Roles should contine to be based on the manuscript records - because, as you say, there are some people identified as authors in the manuscript records who don't, for various reasons, have works authority files

[2018-08-03 14:49] holfordm commented on #34
Happy with this. Any other cryptic external authorities (for example) will be expanded in the authority files. Feel free to close when ready.

[2018-08-03 15:19] holfordm commented on #172
Martin Kauffmann agrees about the need for warnings. The form of words should be "The above references reflect only [the current coverage of the online catalogue] and may not be comprehensive.".

The link should be to the About page in the first instance.

[2018-08-03 15:27] andrew-morrison commented on #172
Just to confirm, these should be on work, person and place pages? Not manuscripts or search results.

[2018-08-03 15:29] IgnatG commented on #170
done

[2018-08-03 15:29] #170 closed

[2018-08-03 15:35] holfordm commented on #158
Seems to be fixed!

[2018-08-03 15:38] holfordm commented on #79
One additional question is whether `author role="translator"` in works.xml should be picked up here, creating a section "translator of" to come after "author of". Walter Hilton (person_2597190) would be an example of an affected author, also the translator of work_3968

[2018-08-03 15:39] holfordm commented on #147
Change to repository - makes excellent sense. Thanks for spotting.

[2018-08-03 15:40] andrew-morrison commented on #79
OK, I'll add "Translator of" lists.

[2018-08-03 15:41] andrew-morrison commented on #170
Re-depolying to QA now.

[2018-08-03 15:42] andrew-morrison commented on #170
Done. @holfordm: Please take another look.

[2018-08-06 09:26] ahankinson commented on #172
OK.

Should we do this same warning for the other TEI Catalogues?

[2018-08-06 17:37] holfordm commented on #172
Probably not necessary on search results since they will lead to manuscript or index pages. On manuscript pages with a summary description we might clarify what that means perhaps, but that would be a data change in the TEI.

Get Outlook for Android<https://aka.ms/ghei36>

From: Andrew Morrison
Sent: Friday, 3 August, 16:27
Subject: Re: [bodleian/medieval-mss] health warnings on index pages (#172)

[2018-08-09 17:01] IgnatG commented on #172
this is done now

[2018-08-10 09:49] andrew-morrison commented on #79
This has been implemented on QA. For example...

http://medieval-qa.bodleian.ox.ac.uk/catalog/person_35253721

...has a "Translator of" field with a link to...

http://medieval-qa.bodleian.ox.ac.uk/catalog/work_375

...which has a "Translator(s)" field with a link back again.

As discussed above with authors, this is based solely on `author` elements with a role of "translator" in the works.xml au

[2018-08-10 11:04] IgnatG commented on #164
this should be done now. I've updated the About page as well

[2018-08-10 11:04] #164 closed

[2018-08-10 11:05] IgnatG commented on #127
Can we close this one?

[2018-08-10 12:47] andrew-morrison commented on #127
It will be closed by a merge request I'll submit for @holfordm's approval at the start of next.

[2018-08-13 16:43] #34 closed

[2018-08-13 16:43] #79 closed

[2018-08-13 16:43] #105 closed

[2018-08-13 16:43] #123 closed

[2018-08-13 16:43] #124 closed

[2018-08-13 16:43] #132 closed

[2018-08-13 16:43] #144 closed

[2018-08-13 16:43] #147 closed

[2018-08-13 16:43] #148 closed

[2018-08-13 16:43] #155 closed

[2018-08-13 16:43] #156 closed

[2018-08-13 16:43] #157 closed

[2018-08-13 16:43] #158 closed

[2018-08-13 16:43] #172 closed

[2018-08-13 17:13] andrew-morrison commented on #127
A special case is when a person's name is part of a descriptive title, such here:

http://medieval-qa.bodleian.ox.ac.uk/catalog/manuscript_141

Should the entire title be one link, to [work_15291](http://medieval-qa.bodleian.ox.ac.uk/catalog/work_15291) in the above case? But the author name displayed in small-caps?

There are 617 instances of `persName` elements inside `title` elements in `msItem

[2018-08-14 14:08] holfordm opened #174 "links to Zotero not working for MSS. D'Orville"
On this page, for example, http://medieval-qa.bodleian.ox.ac.uk/catalog/manuscript_4155, the link generated is to "https://www.zotero.org/bodleianwmss/items/tag/MS.%20D".

Presumably this is something to do with the apostrophe in "MS. D'Orville" needing to be escaped

At present I think this collection is the only one whose shelfmark contains an apostrophe.
Are there any other characters that coul

[2018-08-15 09:00] IgnatG commented on #174
the apostrophe should be the only one as it stops the URL from formatting too early.
I'll investigate

[2018-08-15 15:02] holfordm opened #175 "variations in font size"
There are (since the processing overhaul, I think), some variations in font size on the QA site that seem a little random. This page http://medieval-qa.bodleian.ox.ac.uk/catalog/manuscript_6752 is quite a good example. Any thoughts @andrew-morrison  or @IgnatG  ?

[2018-08-15 15:09] IgnatG commented on #175
This one is for me. The problem was that some tags have a smaller font size. But now I've changed it so that all of them look the same. I'll close the issue once it goes on QA

[2018-08-15 15:09] andrew-morrison commented on #175
What specifically in that page? It might be more obvious with your combination of computer, browser and settings.

[2018-08-20 10:18] IgnatG commented on #174
this should be fixed now. It needs updating on QA at first. @andrew-morrison can you do this, please?
@holfordm can you check after if everything is ok? close the issue if it's all good. Otherwise, let me know and I'll investigate

[2018-08-20 11:02] IgnatG commented on #175
this should be fixed now. @holfordm can you double check, please?

[2018-08-20 11:43] andrew-morrison commented on #175
The CSS changes seem to have expanded the size of the header on mobiles (at least according to Firefox's responsive design view. Of course, it isn't a fixed header, so you can scroll past it, but you have to do that every time you go to a new page. It does make the buttons easier to tap.

[2018-08-20 11:53] IgnatG commented on #175
Yes. It used to be in a narrower - if that's a word, container on mobile. The screen was already small so there was no need for that

[2018-08-22 12:01] holfordm commented on #174
Yes, this is working now. close when prd updated?

[2018-08-23 10:28] andrew-morrison commented on #175
Some of the recent CSS changes has removed bullet points, which are used especially on work/person/place/subject pages, on all catalogues on QA.

[2018-08-23 12:30] IgnatG commented on #175
can I get an example of where this happened?

[2018-08-23 13:46] andrew-morrison commented on #175
Any work or person or place page, e.g.: http://medieval-qa.bodleian.ox.ac.uk/catalog/place_7011931

[2018-08-24 16:59] andrew-morrison commented on #174
Fixed on production.

[2018-08-24 16:59] #174 closed

[2018-09-03 09:54] holfordm opened #177 "dating attributes in the medieval catalogue"
Since the dates given in the medieval catalogue are almost all using the Julian calendar, the way they are currently expressed using the TEI dating attributues isn't strictly correct (since TEI assumes the Gregorian calendar). 'Correct' practice would be something like that recommended by epidoc (http://www.stoa.org/epidoc/gl/latest/supp-historigdate.html).
My questions are:
- how significant do y

[2018-09-03 11:50] ahankinson commented on #177
`@when-custom` seems very strange...

Reading the TEI specs, they have:

`<date calendar="#julian" when="1732-02-22"> Feb. 11, 1731/32, O.S.</date>`

The usage, though, isn't very clear:

http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-att.datable.html

"Note that the calendar attribute (unlike datingMethod defined in att.datable.custom) defines the calendar system of the date in the origi

[2018-09-03 12:50] andrew-morrison commented on #177
What is the aim:

1. To be able to display Julian dates on the manuscripts pages?
2. To stop having to convert to Gregorian for in `@when` attributes when the source is Julian?
3. To encode Julian dates alongside the Gregorian?
4. Convert everything to Julian?

[2018-09-05 13:13] holfordm commented on #177
The aim (I think) would be to improve the interoperability / machine readability of the data by either making it clear that our dates (attributes and text) are Julian unless otherwise specified or as AH suggests by converting the values of the dating attributes (but not the text) to Gregorian dates. AFAIK, the dates displayed in the catalogue are already almost all Julian (just not labelled as suc

[2018-09-10 13:40] ahankinson opened #179 "Add alias to MS Mex. d. 1."
The alias "Codex Ñuu Tnoo" does not appear in the TEI record for MS Mex. d. 1.

[2018-09-26 09:55] holfordm opened #180 "indexing of dates, etc., in multi part manuscripts"
@ahankinson  and I had an email conversation about this in March 2017. The question relates to the indexing of multi-part manuscripts where each part may have a different material, century of origin, county of origin, etc. An example is MS. Ashmole 210 https://medieval.bodleian.ox.ac.uk/catalog/manuscript_315

Currently if you filter for manuscripts with decoration produced in Italy in the fourtee

[2018-10-01 11:30] andrew-morrison commented on #180
This would require indexing and displaying parts as separate records, in the same index as the non-composite manuscripts. So that instead of "MS. Ashmole 210" being one hit returned for any given search query, there would be potentially up to five hits, for each of the five parts. That way, none would appear in the example you gave, because they'd each have their own presence in the filters. But e

[2018-10-02 12:44] ahankinson commented on #179
For reference, that is what we are calling it in Digital Bodleian: https://digital.bodleian.ox.ac.uk/inquire/p/78b119ed-f5bb-4671-8a23-40e0b935f8ec

Which was migrated from Luna.

[2018-10-03 20:55] ahankinson commented on #179
Fixed by 7156f4ee6da85d713e046ea18879fd1b56b6d994

[2018-10-03 20:55] #179 closed

[2018-10-03 20:57] ahankinson commented on #175
Closing as this seems to be fixed now.

[2018-10-03 20:57] #175 closed

[2018-10-03 21:00] ahankinson commented on #115
This has been fixed in the Solr configuration.

[2018-10-03 21:00] #115 closed

[2018-10-03 21:06] ahankinson opened #182 "Link to TEI data on GitHub"
I thought there was an issue for this already, but I can't seem to find it anywhere.

It would be nice to have a link (at the bottom?) from a catalogue record page to the file on GitHub, so that we can see and/or edit the underlying data.

Low priority.

[2018-10-03 21:07] ahankinson commented on #97
It looks correct to me now (if not in the same font...). Re-open if it's not.

[2018-10-03 21:07] #97 closed

[2018-10-03 21:08] ahankinson commented on #86
Search console stuff was implemented a long time ago, and results are now appearing in Google's index.

[2018-10-03 21:08] #86 closed

[2018-10-03 21:10] ahankinson commented on #87
I think this was essentially covered by #172 .

[2018-10-04 10:15] holfordm opened #183 "change to convert2HTML xslt?"
I think there has been a change to this script which affects the order in which some elements are displayed when the `msItem` element is nested. Specifically it seems that the language and notes elements of the main msItem now display before any nested items, regardless of the order in the xml. The result is that a note that is intended to appear at the end of a record can now appear in the wrong

[2018-10-04 11:49] andrew-morrison commented on #183
Yes, sorry, I changed this about a month ago, to deal with other catalogues which have some random ordering of child elements within msItems (e.g. Senmai, which was exported from a database used by their old web interface.)

I thought I had tested it by diff'ing the processing/html folder before and after the change but I must have missed out Medieval, or not noticed the effect it had. Doing so no

[2018-10-04 11:49] #183 closed

[2018-10-09 07:50] holfordm commented on #182
same as #22

[2018-10-09 08:00] holfordm commented on #180
The idea of listing each part separately looks like it could be a good temporary solution.

I don't know enough about SOLR / Blacklight, but would we really have to index and display parts as separate records (which would be undesirable)? The ideal solution would be to still have the 'parent' or 'master' record for (say) MS. Ashmole 210, but for some of the information in that record to be in sepa

[2018-10-09 08:19] ahankinson commented on #180
Perhaps it would be helpful for you to say what you would expect to see in a search for, e.g. 17th C and Italy. What would the list of results look like?

At the MS level it is certainly True that Ashmole 210 meets those criteria. It may not at the individual part level, but because we don’t index those as separate retrievable records we can’t therefore return them as a result.

Even the parent/ch

[2018-10-09 08:20] ahankinson commented on #180
Sorry didn’t mean to close!

[2018-10-10 10:15] andrew-morrison commented on #180
We could index parts alongside manuscripts, moving the relevant index fields for facets such as Origin and Century from the latter to the former. And we could probably find the bit of the Blacklight code that builds the links in search results and modify it so that, while there would be pages such as `/catalog/part_999`, nobody would find them because the links would be changed to `/catalog/manusc

[2018-10-18 11:30] andrew-morrison commented on #180
I've implemented listing of the origins of parts under each manuscript in search results on QA. So [filtering on 14th Century and Italy](http://medieval-qa.bodleian.ox.ac.uk/?f[ms_date_sm][]=14th+Century&f[ms_origin_sm][]=Italy&f[type][]=manuscript) still returns MS. Ashmole 210 but you can see that its only 14th Century part is English and its only Italian part is 17th Century.

Listing of parts

[2018-10-18 12:56] andrew-morrison opened #185 "Former shelfmarks"
These are currently displaying, on QA and production, with a contents of "Untitled work or fragment" in the [search results](https://medieval.bodleian.ox.ac.uk/?utf8=%E2%9C%93&f%5Btype%5D%5B%5D=manuscript&q=%22former+shelfmark%22). That is slightly misleading. It might be better if what is currently in `msContents/msItem/note` were moved to `msDesc/head`. See [one example](http://medieval-qa.bodle

[2018-10-22 10:42] andrew-morrison commented on #185
Test comment

[2018-10-24 09:45] andrew-morrison commented on #180
I've added "Multiple" options to the Language, Century and Origin facets, plus extended "Mixed" in Materials to include manuscripts with multiple distinct `supportDesc/@material` values in different parts (not just if there is an explicit "mixed" value), to make up for the loss of being able to search for "composite manuscript". It's on QA currently, but if you don't think it is useful I can remov

[2018-10-24 11:05] #185 closed

[2018-11-08 19:26] holfordm opened #186 "add digital bodleian links for 2 new mss"
MS. Canon. Ital. 108 and MS. Holkham misc. 48

[2018-11-09 15:24] #186 closed, assigned to nobody

[2018-11-15 19:28] ahankinson opened #191 "HTML output contains spurious tags"
View source on any manuscript record, and the HTML output will contain lots of `<?ni?>` tags. This is probably due to a problem with the TEI to HTML XSLT.

[code]

[2018-11-16 10:12] andrew-morrison commented on #191
Those are processing instructions. The XSL adds them to instruct the XQuery not to index the certain parts of the manuscript pages, when it comes along afterwards and sucks all the text out of the HTML and into the fulltext index in Solr. Specifically, they're used to prevent standard headings and labels added by the XSL from being indexed.

For example, a [search for manuscripts containing _histo

[2018-11-16 10:13] #191 closed

[2018-11-16 11:32] holfordm opened #192 "xml:ids in medieval catalogue"
It is a good idea to have `xml:ids` for `msItem` and `msPart` in the medieval catalogue (and other TEI) catalogues as it makes our data more useful for others (e.g. MMM) and could enable linking to particular elements of a description in future.

However, the current format of `xmlids` arising from James Cumming's conversion script, which attempts to reflect the order of items in the manuscript, i

[2018-11-16 11:59] andrew-morrison commented on #192
Replacing existing IDs is risky. James Cumming's conversion script did that for Fihrist, changing `msItem/@xml:id` values from "a1", "a2", etc, but not changing the `ref/@target` attributes which pointed to them.

The existing IDs in Medieval have been included in the RDF generated for MMM, but I don't know if their systems retain these, or if changing them all and then regenerating the RDF would

[2018-11-16 12:00] ahankinson commented on #192
Beyond simply linking to, we should consider these XML IDs to be part of the system of persistent identifiers; that is ID `xml:id="c422dfa"` on `manuscript_1234` (or `ark:/29792/nnnAAA123`) would be maintained in perpetuity once assigned.

It is certainly handy that browsers understand how to link to them and display them as fragment identifers, but that should be a secondary consideration. Behavi

[2018-11-16 12:17] holfordm commented on #192
I suppose that existing ids don't need to be replaced? How important is consistency in their format?

Future cataloguing may lead to changes in how parts and items are idenitified, e.g. one item is split into two or more items. This is guaranteed to happen in cases like this https://medieval.bodleian.ox.ac.uk/catalog/manuscript_9003 where 8 items have been catalogued under a general subject headin

[2018-11-16 12:33] holfordm commented on #192
In that case (and perhaps in others) the existing title could be moved to the `head` or `summary` element, and the existing `xmlid` could go with it.

I don't think that we will have a Fihrist-type problem of internal references within records to their `xmlids`, since that was a Fihrist only method of encoding, and I don't think we have anything similar.

as to whether we should change the existin

[2018-11-20 10:45] holfordm opened #193 "searching by repertory"
## Detailed Description
As part of the future development of the medieval catalogue, it would be useful for users to search by repertory numbers for texts that are usually identified in this way (e.g. numbers in the Index of Middle English verse, Bibliotheca hagiographica latina for saints lives, or the repertory of Thorndike and Kibre for medical texts). For an example of how this might work, see

[2018-11-20 11:21] andrew-morrison commented on #193
So these are external catalogues, relating works to subjects? And the idea would be someone could find which Oxford manuscripts relate to, say, a particular saint, if they know the Bibliotheca hagiographica latina number?

[2018-11-20 15:41] holfordm commented on #193
Yes, that's right. For some cases, like the Index of Middle English Verse (http://www.dimev.net/) this wouldn't add much value, because those resources already aim to have a complete list of manuscripts, but in other cases it would be useful, particularly for shortish texts where the entry number in a repertory is the usual/only identifier.

[2018-11-21 10:03] andrew-morrison commented on #193
Would these new `bibl` elements go in the works authority file, or in the `msItem` elements in the manuscript TEI files?

[2018-11-27 18:05] holfordm commented on #193
probably in both - for longer works, which are indexed in the works authority file, the identifiers would go there, for shorter works, which don't often get an authority entry, in the `msitem`.

[2018-12-02 19:39] ahankinson opened #194 "Full text stored in an unindexed field"
The fulltext of a TEI file is stored in a `_tni` field, which is 'text not indexed'. If it's not indexed, and if we don't need it for display, then we can probably safely remove this field from the index.

https://github.com/bodleian/medieval-mss/blob/master/processing/manuscripts.xquery#L156